[2014-05-26 19:53] may17 opened #1 "Missing background images on sitemap page"
The background images for the sitemap are not loaded. Import Bug!

[2014-05-26 20:02] may17 opened #2 "Implement sass and compass support"
Contao 3.3 ships with sass and compass support. This feature should be represented in the contao demo.

[2014-05-26 20:03] BugBuster1701 opened #3 "Home - Got to backend login"
Muss das nicht "Go to back end login" heißen?

[2014-05-26 20:04] may17 opened #4 "markdown content element"
There is a new content element markdown in contao version 3.3. This should be added to the demo.

[2014-05-26 20:04] BugBuster1701 opened #5 "Back end / Backend"
Im Frontend ist mal "Back end" und mal "Backend" als Schreibweise.

[2014-05-26 21:30] Aybee opened #6 "Ein paar Typos"
faq-60.html
an AJAX accordion (a javascript accordion?)

content-elements.html
Generates a HTML5 video or audio player. (an HTML5)
When you read it aloud, it's "Aitch Tee Em El". The first sound is a vowel. So it should be "an HTML".
Es geht darum, dass man es flüssig aussprechen kann. "An hour" wäre noch ein anderes Beispiel.

[2014-05-26 21:40] Aybee opened #7 "Formular Issues"
- [x] Es fehlt noch ein subtiler hover effekt auf submit buttons.
- [x] Cursor pointer für labels fehlt noch.
- [x] Formularfelder Hintergrundfarben vertauschen wegen Kontrast. Besser das aktive Feld hell gestalten.
- [x] Hover Effekt fehlt noch (nicht zwingend). Focus und active sind schon vorhanden.

user.html
login-34.html
- [x] Border sieht komisch aus, ist wahrscheinlich so nicht gewollt, hän

[2014-05-26 21:41] Aybee opened #8 "Accordions bauen sich spät auf"
Die Accordions sind kurz offen bevor sie sich dann schließen. Beim Seitenaufbau.

[2014-05-26 21:41] may17 opened #9 "firefox form radio buttons on search page not centered"
The radio buttons on search on firefox are not centered.

[2014-05-26 21:43] Aybee opened #10 "Seitenaliase prüfen"
Z.B.
faq-60.html
login-34.html

[2014-05-26 21:44] Aybee opened #11 "Slider sollte stoppen, wenn man hovert"
Wäre schön, wenn der Slider stoppt, wenn man mit der Maus über ihm ist, damit man Zeit bekommt die Inhalte zu lesen. Man kann ihn wohl stoppen, wenn man einen Navigationspunkt anklickt, aber darauf muss man ja auch erstmal kommen.

[2014-05-26 21:59] Aybee opened #12 "Pagination last hat unten keinen Border"
Der Border unten ist zwar explizit entfernt worden, ich weiß aber nicht warum, sieht auf jeden Fall falsch aus.

[code]

Gesehen auf search.html Suche nach contao.

[2014-05-26 22:21] may17 opened #13 "submit container dotted borders"
Die dotted borders überhalb der submit_container führen zu unschönen nebeneffekten und stehen teilweise in Inputfeldern. Die border müssen loser gekoppelt werden.

[2014-05-26 22:23] may17 opened #14 "Vereinheitlichung von Formularfeldern"
Die Darstellung der Formulare ist noch zu unterschiedlich. Mal steht das label daneben mal steht es darüber. Generell sollten alle Formulare gleich aussehen.

[2014-05-26 22:27] may17 opened #15 "Vereinheitlichung der orangenen Buttons"
Die Buttons im slider und bei Submitfeldern haben einen anderen Verlauf als die aktiv zustände in der Hauptnavigation. Dies ist ein Überbleibsel der Farbumstellung.

[2014-05-26 23:02] #11 closed, assigned to nobody

[2014-05-27 00:33] #1 closed, assigned to nobody

[2014-05-27 00:33] #3 closed, assigned to nobody

[2014-05-27 00:33] #10 closed, assigned to nobody

[2014-05-27 00:33] #12 closed, assigned to nobody

[2014-05-27 12:25] may17 opened #16 "version 1.0.0 stable"
First stable version of the contao offical demo

[2014-05-27 12:25] #16 closed, assigned to nobody

[2014-05-27 21:57] xchs opened #17 "Update the Contao resources links"
I would suggest to specify the Contao resources links on the "About Contao" page without the language code fragment in the URL since the project website will redirect automatically the link target according to the browser's language setting.

For instance, instead of
- https://contao.org/de/manual.html
- https://contao.org/de/books-and-videos.html
- https://contao.org/de/extension-list.html
- etc.

[2014-05-28 11:19] #6 closed, assigned to nobody

[2014-05-28 11:19] #13 closed, assigned to nobody

[2014-05-28 11:19] #17 closed, assigned to nobody

[2014-05-28 11:21] #5 closed, assigned to nobody

[2014-05-28 11:37] may17 opened #18 "News Liste mit zuviel Abstand nach Links und rechts"
Die Newsliste auf der Seite Modules / News hat zuviel Abstand nach links und rechts. Hervorgerufen wird das ganze durch das Contao Grid.

[2014-05-29 10:41] cliffparnitzky opened #19 "'No layout specified' für Latest news"
O.g. Meldung kommt, wenn man auf einen link unter latest news klickt.

[2014-05-30 14:12] may17 opened #20 "Rename offical-demo into official-demo"
There is a little misspelling in the name of the demo and into the dump. offical-demo must be renamed into official-demo.

[2014-05-30 16:29] xchs opened #22 "Make the repo available on Packagist/Composer"
Would you mind to add a `composer.json` to the repository and make it available through Packagist/Composer?

The same applies for the [contao/music-academy](https://github.com/contao/music-academy) repo as well.

[2014-05-30 17:22] may17 opened #23 "Add color variables to the theme"
The colors should be set as theme variables in the back end. This makes the theme more flexible and color changing isn`t a big deal anymore.

[2014-05-30 17:30] may17 opened #24 "mod_listing: Jump to parent element after triggering the pagination or filter"
The scrollbar should be jump automatically to the top of the parent element of an filter or pagination after reloading the page.

[2014-05-30 18:24] #22 closed, assigned to nobody

[2014-06-02 15:25] xchs opened #25 "COD: Debug mode"
If the debug mode is active, the COD front end shows unexpectedly the mobile layout.

[2014-06-02 21:53] BugBuster1701 opened #26 "Seite media-elements.html funktioniert nicht in online Demo"
Grund ist das Element mit dem Youtube Video, dort ist nach Reset der Seite ein Template ce_player_responsive ausgewählt.
Dieses kann nicht geladen werden, da im Layout das Templateverzeichnis nicht ausgewählt ist und auch nicht ausgewählt werden kann.

[2014-06-03 08:38] #25 closed, assigned to nobody

[2014-06-03 10:12] #8 closed, assigned to nobody

[2014-06-04 01:35] xchs opened #27 "Fix a few typos in the COD example website"
Here's a list of typos I've found so far:
- [x] Capitalize the name of "Contao" consistently throughout the entire website
- [x]  Content slider (slide 2): "Contao is highly extendible" instead of "Contao ist highly extendible", "built" instead of "build", "1500 extensions" instead of "1500 Extensions"
- [x]  Content slider (slide 3): "straightforward" instead of "straight forward"
- [x]  Page "Ho

[2014-06-04 15:36] Aybee opened #28 "Feature: german version and language switch"
Ist eine deutsche Übersetzung schon geplant? Ich denke eine deutsche Demo wäre echt Klasse. Für unsere Kunden und auch für Neuentdecker von Contao.

[2014-06-16 11:18] fritzmg opened #29 "Comic Sans Serif"
The new Contao online demo uses Comic Sans in one of its slider test images: http://demo.contao.org/files/contaodemo/media/slider/extensions.png

I hope that's a "bug" :Þ

Or did Comic Sans get so uncool, that it underflowed it's uncoolness and got cool all of a sudden? ;)

[2014-06-16 12:45] lionel-m opened #31 "Youtube video example - Media elements"
Hi,

Mediaelement.js buttons are not displayed correctly on iOS (tested with 7.1.1) for YouTube videos only.

[2014-06-25 07:47] may17 opened #32 "Soll es eine COD Version für Contao 3.2. geben?"
Ich habe schon öfter im Forum gelesen, dass der Wunsch nach einer COD Version für Contao 3.2. besteht. Ich hätte ganz gerne eure Meinung dazu denn abgesehen von dem zusätzlichen Aufwand macht das sicherlich Sinn da die COD eh eine Extension ist.

[2014-06-25 11:18] Aybee opened #33 "Meta-Daten in Grafiken"
Mir ist gerade aufgefallen, dass in einigen Grafiken viele Meta-Daten enthalten sind, z.B. in der preview.jpg. Mal nach "html" in der Datei suchen mit z.B. FileLocator Pro. Oder mit XnView MP ansehen. Ist das so gewollt? Ansonsten besser darauf achten, dass nur die Grafiken gespeichert werden ohne Meta-Daten. In Photoshop besser die Option "für Web speichern" verwenden.

Auch beim Speichern von PN

[2014-06-25 22:24] #7 closed, assigned to nobody

[2014-06-25 22:24] #23 closed, assigned to may17

[2014-06-25 22:24] #24 closed, assigned to may17

[2014-06-25 22:24] #29 closed, assigned to may17

[2014-06-25 22:24] #20 closed, assigned to may17

[2014-06-25 22:25] #18 closed, assigned to may17

[2014-06-25 22:25] #9 closed, assigned to nobody

[2014-06-25 22:25] #14 closed, assigned to nobody

[2014-06-25 22:25] #15 closed, assigned to nobody

[2014-06-25 22:26] #19 closed, assigned to may17

[2014-06-27 17:43] may17 opened #34 "Change Typo to Open Sans"
The base Font should be changed to Open Sans. Arial is not the best example as base font today. Thx for inspiration to Dexter Paris from the contao community board!

https://community.contao.org/de/showthread.php?32316-Music-Academy-2-0-Contao-Offical-Demo-(COD)/page4&p=330144&viewfull=1#post330144

[2014-06-27 23:13] Aybee opened #35 "Farbgestaltung ändern"
Vielleicht kann der ursprüngliche Designer (er wurde irgendwo mal erwähnt und ihm für seine Arbeit gedankt, ich kann mich aber nicht mehr daran erinnern wer es war) das Farbkonzept nochmal überdenken. Ich finde diese Brauntöne irgendwie sehr schmutzig und gar nicht schön.

Ich könnte mir vorstellen, dass da sogar ganz einache Grauwerte viel mehr Frische reinbringen würden als diese Graubraun-Farbn

[2014-06-28 11:33] #34 closed, assigned to may17

[2014-06-30 12:05] ciaobello opened #36 "master & dev Zweig"
Wäre es möglich in der Demo auch mit master & dev Zweige zu arbeiten? Ohne diese Einteilung haben die Composer User immer den Aktuellen Stand (master-dev/2014-06-28 11:50 UTC). Diejenigen welche über das ER2 die Demo installieren erhalten dann den Snapshot von dem was ins ER gestellt wurde.

[2014-07-04 13:02] may17 opened #38 "Optische Optimierung der COD - Deine Meinung zählt"
Ich möchte ganz gerne ein paar Ideen und Anregungen von euch sammeln. Was stört euch optisch und wie könnte es eurer Meinung nach besser sein?

Wir sind sehr gespannt und freuen uns über Input.

[2014-07-30 23:34] Aybee opened #39 "Module Listing declared as Module Article list"
On this page http://demo.contao.org/en/applications.html

H2 Listing

had to be "The module Listing will make..."

[2014-08-07 21:10] may17 opened #40 "Zuweisung von Autoren"
Derzeit sind in der Demo z.B. bei den Artikeln keine Autoren zugewiesen. Alle Artikel und anderen Datensätze, welche diese Angabe erwarten sollten den Autor Kevin jones zugewiesen bekommen.

[2014-09-06 22:56] Aybee opened #41 "Padding in table cells th and td"
Das Padding von **1%** auf den Tabellenzellen ist nicht so gut. Das heißt, das Padding reguliert sich nach der Größe der Tabellenzelle. https://github.com/contao/official-demo/blob/master/src/files/contaodemo/theme/css/ce.css#L102

Es wird irgendwie nicht richtig berechnet, wenn eine Tabelle eine feste Breite oder width:auto; hat.

Mir ist es hierbei aufgefallen. Bitte mal dieses ce_table
[code]
h

[2014-09-25 13:32] Aybee opened #42 "mobile.css responsive*.css"
Mal ne Frage: Ist die mobile.css https://github.com/contao/official-demo/blob/master/src/files/contaodemo/theme/css/mobile.css dafür gedacht diese anstatt der 4 responsive*.css Dateien einzubinden? Weil in den responsive*.css sind ja keine media querys drin.

[2014-09-29 11:44] Aybee opened #43 "What is boomerang?"
https://github.com/contao/official-demo/tree/master/src/files/contaodemo/theme/js

https://github.com/contao/official-demo/blob/master/src/files/contaodemo/theme/js/jquery.contao.boomerang.js

[2014-10-03 14:27] Aybee opened #44 "CSS icon_arrow-right-grey.png Bug"
icon_arrow-right-grey.png
icon_arrow-right-orange.png
icon_arrow-right-darkorange.png

Das CSS für die Pfeile für die Navigation und das News-Archive-Menü fehlen bzw. sind falsch angegeben.

In den statischen CSS Dateien ist die Eigenschaft vorhanden.
https://github.com/contao/official-demo/blob/master/src/files/contaodemo/theme/css/navigation.css#L177 ff
https://github.com/contao/official-demo/bl

[2014-11-01 20:16] BugBuster1701 opened #45 "In composer.json die passende Contao Version angeben"
per "require", denn so geht die ja nicht überall zu installieren über composer/packagist.

[2014-12-06 17:22] ciaobello opened #46 "official-demo update 3.4.0"
would it be possible to update Demo to 3.4.x? The import tool (install.php) complains again that the db is not valid.

thx in advance
ciaobello

[2014-12-16 16:37] #31 closed, assigned to nobody

[2015-01-11 18:28] Samuelll commented on #46
Die sql-Datei ist nun hochgeladen.
Wegen #45 muss ich nochmal schauen.

[2015-01-20 13:21] #43 closed

[2015-01-20 13:29] may17 commented on #39
already completed

[2015-01-20 13:29] #39 closed

[2015-01-20 13:36] #36 closed

[2015-02-02 23:13] #44 closed

[2015-02-02 23:15] may17 commented on #42
Die mobile css wurde entfernt.

[2015-02-02 23:15] #42 closed

[2015-02-02 23:19] may17 commented on #41
vertical-align:top; ist hinzugefügt und die paddings sind nun auf px werte umgestellt.

[2015-02-02 23:19] #41 closed

[2015-02-02 23:23] #27 closed

[2015-02-02 23:24] #46 closed

[2015-02-02 23:25] #33 closed

[2015-02-02 23:42] #4 closed

[2015-02-02 23:45] #40 closed

[2015-02-03 08:34] #45 closed

[2015-02-04 03:59] ciaobello commented on #38
Danke Joe für die Anpassungen. Ich habe den Aktuellen Release mit einer 3.4.3 Version und dem Composer getestet. Hat alles einwandfrei geklappt bei der Installation.
Das angepasste Outfitt macht schon einen ganz anderen Eindruck. Auch das mit den Ergänzten Fabvariabeln sieht vielversprechend aus.

Danke für Deine Arbeit!!

[2015-02-04 13:26] may17 commented on #38
Danke @ciaobello für das Feedback. Es wird nun wieder konsequenter an der Demo gearbeitet. Generell bin ich mit dem Optik noch unzufrieden aber wir sind auf dem richtigen Weg. Danke für dein Support!

[2015-02-04 15:35] Aybee commented on #38
Ich kann da keine farblichen Änderungen sehen. Mache ich irgendetwas falsch? Ich habe official-demo-3.4.1 herunter geladen, Resourcen auf den Server gelegt. Im Install tool die SQL importiert (kein Haken gesetzt).

Auch mit official-demo-master, official-demo-develop oder official-demo-release-contao35x sehe ich kein anderes Farbschema.

[2015-02-04 22:04] xchs opened #48 "COD-Installation mittels Composer"
Seit dem letzten (?) Release lässt sich die COD offenbar nicht mehr mittels Composer installieren.

Nach Installation des Contao Cores (3.4.3) über
[code]
hatte ich die Demo-Daten bislang immer mittels
[code]
angefordert, was stets problemlos funktioniert hat.

Nun erhalte ich aber die folgende Meldung und die Installation bricht ab:
[code]

Hängt das irgendwie mit #47 bzw. 7669a0c814cc3b54090d84e

[2015-02-04 22:52] ciaobello commented on #38
@Aybee, du musst die Variabeln selber anpassen mit den Farben wie Du sie haben willst. Es gibt bei den Einstellungen des Themes einen Ganzen Rattenschwanz an Variabeln welche mit dem Internen CSS Editor verbunden sind (Tabelle tl_themes; Feld vars):

"$basecolor";"60584D"
"$darkercolor";"5d2f00"
"$footerColor";"473F3A"
"$footerTextcolor";"9E9084"
"$baseBorderColor";"D4CBC5"
"$wrapperBgColor";"FBFA

[2015-02-05 13:03] may17 opened #49 "Video responsive problem"
The media video element should be enhanced. There some troubles with the responsive implementation. Further informations and maybe solutions:  https://community.contao.org/de/showthread.php?54061-Responsive-YouTube-Element

[2015-02-06 13:48] Aybee commented on #38
@ciaobello Danke. Ja, die Variablen hatte ich gesehen, aber es hörte sich hier so an, als hätte bereits jemand ein Farbschema ausgearbeitet.

Ich habe mal nur zum Spaß auf wissenschaftlicher Helligkeitsanalyse die Variablen in Grauwerte verwandelt :smirk:
[code]
Ich habe auch mal ein kleines BE-Javascript implementiert, welches den Hintergrund des Feldes einer Farbvariablen mit der eingestellten F

[2015-02-06 13:53] Aybee opened #50 "Bug: duplicate ID in Accordion"
http://demo.contao.org/en/accordion.html
[code]

[2015-02-06 21:16] ciaobello commented on #38
@Aybee Github und Daten Hochladen ist so eine Sache ... Gist wäre die Alternative aber sehe gerade dass da auch schon wieder was geändert hat. Gibt doch Seiten wo man .js Dateien hochladen kann, dessen Quellcode angezeigt wird und auf der rechten Seite das Resultat siehst ... Ich bin ein bisschen vergesslich mit den Namen solchen Services da ich die nicht wirklich brauche ...

Vielleicht machst sc

[2015-02-09 14:45] may17 commented on #38
@ciaobello  du meinst jsbin oder jsfiddle ;)

Hast du mal Beispiele. Würde mich ja mal interessieren :)

[2015-02-09 16:55] may17 commented on #38
btw. so schlecht kann die Contao Demo ja nicht sein denn sie wird scheinbar oft genutzt :)

http://www.tv-niebelsbach.de/
http://www.rv-bamlach.de/
http://www.schwarzehusaren.de/
http://www.luisenhof-gemeinschaft.de/
http://www.schmerzordination.at/
http://www.forum-spirituale.de/
http://felice-hn.de/
http://www.psychotherapie-fauser.de/
http://www.nordsee-diefenbach.de/
http://www.carbon-pools.at

[2015-02-09 16:58] ciaobello commented on #38
Ja genau die meinte ich.

Hey, du hast das falsch verstanden. Ich habe nichts gesagt dass die nicht gut ist. Nur das Cod / ma2 thema welches geschlossen wurde war eine ziemliche Schlammschlacht. Davor hüte ich mich ... Und von den U-Broten in diesem Thema habe ich gesprochen.

Trotzdem Danke für die tolle Referenzliste  : )

[2015-02-09 18:18] may17 commented on #38
Sorry das wollte ich damit auch nicht sagen. Schon richtig, dass die Disskusion im Forum ausgeartet ist ich denke so langsam haben sich aber da die wogen geglättet denke ich.

[2015-02-09 18:19] may17 commented on #32
Die 3.2. Demo wurde gelaunched.

[2015-02-09 18:19] #32 closed

[2015-02-09 18:20] may17 commented on #2
We decided to drop the Stylesheet Database Support with contao 3.5. So Scss files will be the future of the contao demo.

[2015-02-09 18:21] may17 commented on #35
Farbvariablen sind jetzt drin. Leo, sascha und ich haben beschlossen das ab Contao 3.5 die Demo nur noch mit scss/less files ausgeliefert wird. Wir werden das dann berücksichtigen mit der Farbanpassung.

[2015-02-09 18:21] #35 closed

[2015-02-09 18:25] discordier commented on #48
@xchs Bitte mal die kompletten dependencies posten.

[2015-02-09 18:29] ciaobello commented on #38
Zurück zum Thema, ich habe mir überlegt ob man bei den Variabeln in Themes nicht noch zwei weitere Felder einfügen könnte (jetzt gibt es ja nur zwei). Eines welches "Gruppieren" heißt und das andere welches z.Bsp. "Optik" heißt. Bei den Farben würde dass die Farbe selber anzeigen.

So könnte man die Variabeln in Gruppen aufteilen und nach Farben/Farbtönen anordnen. Mit dem Optischen Hinweis würde

[2015-02-09 20:45] Aybee commented on #38
Ich glaube ich mache da keinen Wiki-Artikel, weil es ja eigentlich mit PHP gemacht werden müsste und ich es nur eben quick mit JS gemacht habe. Weil's doch nicht so viel ist, habe ich es jetzt  einfach mal hier rein gepackt.
system/dcaconfig.php
[code]
files/css/_my_be.css
[code]
files/js/_my_be.js
[code]

[2015-02-09 20:54] Aybee commented on #38
Die Tabelle wird aus einem Feld aufgebaut tl_theme-vars
Der Wert ist serialisiert.

[2015-02-09 21:38] may17 commented on #50
fixed with version 3.4.2

[2015-02-09 21:38] #50 closed

[2015-02-09 21:49] ciaobello commented on #38
dann vermutlich in einer be_vorlage? Denn ich konnte nirgens ein php skript finden.

[2015-02-09 22:28] ciaobello commented on #38
@Aybee, danke für das js, sieht toll aus. Es vereinfacht das arbeiten wesentlich. Danke.

[2015-02-09 23:14] Aybee commented on #38
@ciaobello danke, gerne, habe ich mir auch gedacht

Das Feld wird in system/modules/core/dca/tl_theme.php konfiguriert, und ist vom Typ keyValueWizard

Ich kenne mich mit dem Feld nicht aus. Sieht so aus, als könne man damit nur einen key und einen value generieren, also 2 Felder. https://github.com/contao/core/blob/master/system/modules/core/widgets/KeyValueWizard.php

[2015-02-10 01:01] xchs commented on #48
@discordier

Die `composer.json` ist jene aus dem Core: https://github.com/contao/core/blob/master/composer.json

Über die Kommandozeile rufe ich dann
[code]
auf, wodurch im `require`-Objekt zusätzlich die Eigenschaft
[code]
ergänzt wird.

Nachdem die Abhängigkeiten aber nicht aufgelöst werden können, wird dieser Eintrag automatisch wieder entfernt und die `composer.json` auf den ursprünglichen Zu

[2015-02-10 03:06] discordier commented on #48
Du sollst auch nicht in der root composer.json requiren sondern entweder im backend composer-client oder aber im unterverzeichnis "composer" via command line.

Die root composer.json vom contao/core ist lediglich um die direkten dependencies von Contao zu tracken und ein dist archiv zu erzeugen. Unter Contao 3.X werden die Erweiterungen im isolated "TL_ROOT/composer" Verzeichnis abgelegt.

[2015-02-10 11:39] xchs commented on #48
Danke, @discordier

Über den Composer Client im Backend funktioniert es natürlich und auch das Anfordern der Contao Demo über die Kommandozeile klappt soweit, wenn ich – wie von Dir vorgeschlagen – die Abhängigkeit in der `./composer/composer.json` entsprechend um `contao/official-demo": "dev-master` ergänze.

Das Problem ist nur: Das Unterverzeichnis `TL_ROOT/composer` existiert erst dann, wenn d

[2015-02-10 12:22] may17 commented on #38
Warum machst du nicht einfach ein Modul?

[2015-02-10 12:25] ciaobello opened #51 "COD v3.2.1 mit db von 3.4 im ER2"
Ich habe versucht die Demo über das ER2 zu installieren für 3.2:

contao_v34_official-demo.sql

Der Import konnte nicht abgeschlossen werden! Ist die Datenbankstruktur aktuell und die Template-Datei kompatibel mit Ihrer Contao-Version?

Es scheint dass da eine falsche .sql im zip archiv ist?

[2015-02-10 13:40] Samuelll commented on #51
Kann ich bestätigen.
Der Dump is aus der 3.4

[2015-02-12 14:04] pedaworx commented on #51
https://github.com/contao/official-demo/tree/release/contao3.2/src/templates

@ Nicky danke für den Link

[2015-02-12 14:07] frontendschlampe commented on #51
bitte fein :-)

[2015-02-13 00:13] ciaobello commented on #51
Hat geklappt danke.

[2015-02-17 02:11] ciaobello commented on #38
Ich habe es mit einem Modul versucht. Habe aber noch nicht herausgefunden wie der Aufbau sein soll ... resp. die Folderstruktur und wo die Config rein soll, ob ich die Files auch in das systems/modules packen soll. Ist Vendor ev. sinnvoller?

[2015-02-17 12:11] Aybee commented on #38
Geht es um das, was ich gepostet hatte? Dann würde ich die files nach myModule/assets/ packen. Und den Rest in die myModule/config/config.php. Oder?

http://public.andreasburg.de/myBE.zip

[2015-02-17 20:47] ciaobello commented on #38
Danke hat geklappt.

[2015-02-19 03:37] ciaobello commented on #38
Ich bin dran bei der 3.2er Version die Steuerelemente (Grafiken) zu entfernen und diese Durch passende FontAwesome Symbole zu ersetzen, damit diese auch farblich mit den Variabeln angepasst werden können. Die Toggler vom Accordeon konnte ich schon anpassen:
(Erweiterung  font-awesome  >Netzmacht)

Noch nicht bereinigte Klassen (in css ce):

[code]
Für die Suche (Lupe) und das RSS Icon könnte man d

[2015-02-19 13:17] Aybee commented on #38
Kannste gerne machen.

Hast du mal einen Link, dass man sich ansehen kann, was du machst?

Ohne das jetzt kontrollieren zu können müsste das bereinigt von der Logik her eigentlich so aussehen:
[code]
Für Lupe und RSS, kann man das nicht auch mit before und after machen? Braucht man dort extra leeres Markup?

[2015-02-20 04:52] ciaobello commented on #38
ok >> ciaobello.luciano.ch

login:  see nickname
pw :    preview2015

Habe noch gesehen, wenn man fontawesome Erweiterung (siehe oben) installiert, kann man die Icons damit anzeigen im BE (Usereinstellungen, fontawesome verwenden). Ich spiele dann damit noch rum um Herauszufinden wie man das am einfachsten anwendet/einbindet.

Hast natürlich recht mit den Bemerkungen im CSS. Habe alles angepasst w

[2015-02-23 19:32] Aybee commented on #38
Hier ein CSS um die Lupe und RSS mit Font Awesome nachzubilden. Extra Markup benötigt es nicht. Vorher das Bild beim Formular und RSS-Link entfernen. Aber ich weiß nicht, ob wir deswegen extra Font Awesome integrieren sollen. Vielleicht kann man auch einen Sprite mit schönen neutralen Icons anfertigen und davon die Icons abgreifen. Rahmen und Hintergrund kann man dann ja mit CSS machen. Außerdem w

[2015-02-27 11:06] may17 commented on #51
Es gibt ein neues Release welches den Fehler behebt.

[2015-02-27 11:06] #51 closed

[2015-02-27 13:19] may17 opened #52 "Wünsche für das Contao Grid"
Moin Moin,

Wir würden gerne das Grid von Contao modernisieren. Es gibt hier verschiedene Möglichkeiten und ich möchte gerne ein paar Meinungen dazu. Dieses Ticket hat nur indirekt mit der Demo zu tun da es einen Pull Request für den Contao Core geben wird. Wichtig ist das die Rückwärtskompatibilität berücksichtigt wird.

Variante a)
Neben der grid.css wird es eine grid1140.css Datei geben welche

[2015-02-27 13:31] fjacobi commented on #52
Ich würde für C stimmen.
Als mitgebrachte Variante ermöglicht es einem die meisten Möglichkeiten.

[2015-02-27 13:42] Samuelll commented on #52
Variante C --> +1

[2015-02-27 14:31] Ainschy commented on #52
Variante C

[2015-02-27 15:16] leofeyer commented on #52
Unabhängig von c) fände ich b) gut für den Core. Dort können wir nämlich nicht SCSS voraussetzen.

[2015-02-27 15:16] Aybee commented on #52
C :+1:
Eine Variante B (Prozent-Grid) sollte aber schon vorbereitet sein.

[2015-02-27 15:39] MacKP commented on #52
Ich bin auch für dafür, das beides beigelegt wird: C mit B
Also: In scss wird gearbeitet. Davon werden dann CSS-Dateien (Unkomprimierte und nicht zusammengefasste) erzeugt. Beides wird zur Verfügung gestellt. Als Vorbild könnte man sich da Yaml anschauen (da wirds auch so gemacht). Vorteil ist: Ihr braucht nicht beides Pflegen, weil das CSS erzeugt wird. Der Endverbraucher kann sich aussuchen was

[2015-02-27 18:15] medianetic commented on #52
Eindeutig C. Die anderen Varianten sind jetzt schon nicht mehr zeitgemäß. Gut wäre es auch eine editierbare visuelle Version fürs BE gleich mitzukalkulieren.

[2015-02-27 19:03] Samuelll commented on #52
@medianetic: Der zweite Wunsche würde eine separate Extension bedeuten.
Die COD wird aber generell ohne weitere Extensions ausgeliefert.

[2015-03-02 16:59] may17 commented on #52
Danke für den Input. Dann packen wir mal b) und c) als neue Features an :)

[2015-03-02 16:59] #52 closed

[2015-03-20 23:51] Aybee opened #53 "wrong links"
Die Links stimmen nichts mehr
http://demo.contao.org/en/
Unter dem Punkt "Learn more" z.B. der Link "Navigation". Sieht so aus als hätten sich die Seiten-IDs geändert und die Inhaltselemente davon nichts mitbekommen. Da steht immer noch `{{link_url::26}}` aktuell ist `{{link_url::63}}`

[2015-03-25 11:41] Sascha07 opened #54 "Contao Demo im Backend auf Deutsch"
Besteht die Möglichkeit die Contao-Demo -> http://demo.contao.org im Backend auch auf Deutsch einzustellen?

[2015-03-25 11:56] Samuelll commented on #54
Nein, dort gibt es nur englisch als Sprache für den Benutzer.
So wird verhindert, dass die Tester Ihre Sprache einstellen und den Rest der Stunde für alle anderen anderen das Backend unverständlich ist.
Hab schon öfter erlebt, dass jemand das BE nur zum Spaß auf Türkisch umgestellt hat.

[2015-03-25 12:00] Samuelll commented on #53
Ich schau mir das in den kommenden Tagen mal an und werd dann eine angepasste sql-Datei erstellen.

[2015-03-25 23:53] ciaobello commented on #54
Ich habe Sascha07 hierher geschickt mit dem Argument dass sich Leo hier öfters aufhällt als im Forum.
Ich schreibe mal mein [Vorschlag beim Core] (https://github.com/contao/core/issues/7720) rein.

Das Problem könnte man ganz einfach lösen indem man oben neben dem Loginname im BE auch die Sprache anzeigen würde:

User k.jones | Türkçe > Turkish
Und ein drop down Menu zum einstellen der installiert

[2015-03-26 01:17] Aybee commented on #54
:-1:
Es ist üblich, dass man in einem System in welches man sich eingeloggt hat zuerst in die Einstellungen geht und sich seine Sprache einstellt. Es wäre ein unnötiges, großes Selectfeld auf jeder BE-Seite. Dass die Sprache in der Demo erstmal auf Englisch gelockt ist finde ich gut. Es würde höhstens für die Demo Sinn machen die Benutzersprach auf User-Ebene in einem Cookie zu speichern.

Ja, der

[2015-03-26 09:24] #48 closed

[2015-03-26 09:26] may17 commented on #38
Danke für die Vorschläge.

Können wir aus den einzelnen todos bitte einzelne Tickets machen. Das etwas stressig so und schwer nachvollziehbar das hier. Ich mach das Ticket jetzt zu.

[2015-03-26 09:26] #38 closed

[2015-04-08 19:16] may17 commented on #54
Dieses Ticket hat nichts mit der Entwicklung der contao Demo zu tun. Die Demo auf Contao.org wird von leo zu Verfügung gestellt.

[2015-04-08 19:16] #54 closed

[2015-05-04 16:07] peter67 opened #55 "Navigation Level 2 springt zurück auf Level 1"
Tablet: Android (Portrait und Landscape)
Hauptnavigation (oben), Navigation in linker Spalte wird nicht benutzt!

Touch auf "Content Elements"
Touch auf "Accordion"
Touch auf "Content Elements", um dropdown wieder zu öffnen und zu "Content slider" zu gelangen.
Die Navigation springt, nach kurzem Öffnen des dropdowns, wieder auf "Content Elements".
Erst dann kann man den nächsten Level 2 Punkt anwä

[2015-05-10 14:33] ciaobello commented on #55
Aber die Seite wechselt nicht oder? Ich kann bestätigen dass Content Elements Aktiv ist, aber auch Accordeon ist aktiviert. Dies wird aber angezeigt weil es eine Unterseite von Content Elements ist!

Bestätige bitte ob die Seite Wechselt oder nur die Anzeige beim Menu, dazu wäre noch wichtig mit welchem Browser du das Problem hast.

Ich habe es mit einem Android 4.4.4 Handy getestet (Portrait & La

[2015-05-10 15:26] peter67 commented on #55
Ich habe jetzt den aktuellen Chrome benutzt. Bei der Tablet-Größe ist oben das Hauptmenü mit den 4 Menüpunkten zu sehen, in der linken Spalte das Submenü, das nicht! benutzt wird.
Ich klicke auf "Content Elements" und es lädt die richtige Seite. Das Klappmenü schließt sich wieder.
Ich klicke wieder auf "Content Elements", um im ausgeklappten Menü auf "Accordion" zu klicken.
In dem Moment klappt da

[2015-05-10 16:48] ciaobello commented on #55
Jetzt wäre noch interessant zu wissen welche Android Version und welche Auflösung resp. Pixelbreite vom Viewport du verwendest.
Für mobile Geräte ist es angebracht auch die Mobile Navigation zu verwenden. Denn diese Funktioniert.

[2015-05-10 17:12] peter67 commented on #55
Mann, Du machst es aber spannend ;-)
Das ist ein Medion Lifetab mit 1280x800 Bildpunkten und Android 4.2 Jelly Bean.
Auf meinem Hany habe ich auch gar kein Problem, da dort das andere Menü angezeigt wird. Aber dieses Tablet nimmt eben die mittlere Version, die zwischen 768 und 979 aufgerufen wird (responsive768-979.css). Das ist also die Normalversion der Navigation, die in der css-Datei nur hinsi

[2015-05-10 17:25] Samuelll commented on #55
Hallo Peter67,
hab das ganze gerade auf Android 4.4.2 mit einem Chrome getestet und
kann es leider nicht reproduzieren.

WEnn ich auf "Content Elements" bin ud nochmal auf den Punkt klicke,
bleibt die Unternavigation bei mir geöffnet.

Gruß,
Samuell

Am 10.05.2015 um 17:26 schrieb peter67:

[2015-05-10 18:57] peter67 commented on #55
Hallo Samuell,
ich bin auf "Content Elements" und *tippe* noch einmal auf den Punkt. Das Untermenü öffnet sich und schließt sich wieder sofort.
Am normalen Monitor, zusammengeschoben auf die entsprechende Bildschirmgröße, *klicke* ich auf den Punkt und das Menü bleibt geöffnet.
Es hat also etwas mit der touch-Funktion zu tun. Bei meinem Freund, der es mit zwei verschiedenen Geräten ausprobiert hat

[2015-05-10 19:21] Samuelll commented on #55
Hallo Peter,
ich hab es auf eine Note 10.1 getestet, also auch getippt und nicht
geklickt. Daher ist es zumindest mit meiner Technik nicht reproduzierbar.

Ein weiterer Test mit einem Galaxy Tag 3 8" brachte das gleiche
Ergebnis. Nicht reproduizerbar für mich.

Gruß,
Samuell

Am 10.05.2015 um 20:57 schrieb peter67:

[2015-05-10 20:22] ciaobello commented on #55
Vielleicht könnte man als Anregung den Switch zum Mobilen Menü einbauen, dass auch Ultragrosse Tablets davon profitieren können.
Ich kann es schlichtweg auch nicht nachvollziehen weil mein Samsung Galaxy keine solchen Auflösungen hat und nicht eine ältere Android Version verwendet.
Wenn Ihr also die Demo als Vorlage für Eure Seite verwendet baut den Switch {{toggle_view}} ein oder Stellt den Veiwp

[2015-05-11 08:23] peter67 commented on #55
Vielen Dank für das Testen. Es bleibt also ein Rätsel.
Und, ja, wir können das natürlich anders lösen. Aber ich wollte einfach den festgestellten Fehler melden, damit der korrigiert werden kann.
Eine schöne Woche
Peter

[2015-05-11 08:23] #55 closed

[2015-07-10 16:07] MoniqueHahnefeld commented on #2
Hey @may17 Joe.
ich habe jetzt angefangen ein SCSS-bundle zu erarbeiten und werde bis Ende nächster Woche damit fertig sein. Habt ihr auch schon begonnen. Vielleicht kann man sich da absprechen?

[2015-07-10 16:58] Samuelll commented on #2
Hallo Monique,
ich habe schon etwas erstellt und bin damit recht weit fortgeschritten.
Wenn wir also unnötige Arbeit vermeiden wollen, sollten wir uns
unbedingt absprechen.

Gruß,
Sascha

Am 10.07.2015 um 18:07 schrieb Monique Hahnefeld:

[2015-07-10 17:34] MoniqueHahnefeld commented on #2
Ok, kann ich dich morgen Nachmittag dazu mal anrufen?

[2015-07-11 13:54] MoniqueHahnefeld commented on #2
Sascha und Ich haben eben unsere beiden Varianten besprochen und werden beide zur Verfügung stellen und nächste Woche diskutieren wie der Aufbau der Variablen under Ordner-Struktur sein sollte.

Eure Meinung ist herzlich willkommen @may17 und @allother :)

@Samuelll hier siehst du wie Bootstrap das macht:
https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.sc

[2015-07-11 20:04] may17 commented on #2
Klar können wir gerne besprechen. Bitte vergesst aber nicht, dass die Demo so flach wie möglich gehalten werden soll. Ich finde Ansätze wie von dir @MoniqueHahnefeld sehr gut aber das Ziel der Demo ist es einfach zu sein ausgehend vom eher unerfahrenen Anwender.

Eine Konvertierung der jetzigen Demo Css samt der Variablen ist für den ersten Schritt vollkommen ausreichend. Zu dem wäre eine Sass Gri

[2015-07-11 20:05] may17 commented on #53
@Samuelll wolltest du dir das nicht im März ansehen?

[2015-07-14 10:12] MoniqueHahnefeld opened #56 "use the same units in the stylesheets [enhancement][3.5]"
do not mix %, px and em for margin and padding.
-> fix % with box-sizing if width is given in % value
do not mix px and em for font declarations

[2015-07-14 10:16] MoniqueHahnefeld opened #57 "remove double declaration in stylesheets"

[2015-07-14 10:19] MoniqueHahnefeld opened #58 "is em value in vertical spaces necessary ? [for discussion]"
if it's necessary I'd like to use it also for the horizontal spaces and use the unit rem. What do you mean @Samuelll, @may17

[2015-07-14 11:00] MoniqueHahnefeld opened #59 "responsive breakpoint styles??"
maybe it is better for maintaining to set the breakpoint-styles also in the component-file

 .slider{}
}

so the media declaration is douple but the overview is better I think.

What do you think @Samuelll, @may17

[2015-07-15 17:27] may17 commented on #59
Perhaps it`s better :) We talked a lot about this topic and decided to create just one media query file. I think it`s easier for beginners to have just one place for media queries.

[2015-07-15 17:28] may17 commented on #58
I am not a big fan of rem. To many drawbacks.

[2015-07-15 17:29] may17 commented on #57
It would be nice to get some examples :) This ticket is at the moment not really helpful.

[2015-07-15 17:30] may17 commented on #56
Some examples would be nice.

[2015-07-15 18:02] MoniqueHahnefeld commented on #56
Look into the css files :)

[2015-07-15 18:02] MoniqueHahnefeld commented on #57
yes I found some here and there and droped them in my version into the scss files. sorry :)

[2015-07-15 18:05] MoniqueHahnefeld commented on #58
what drawbacks you mean? so what's the advantages of the em-units in the theme now. make that em-declarations any sence?

[2015-07-15 18:08] MoniqueHahnefeld commented on #59
ok I understand this.

[2015-07-15 18:08] #59 closed

[2015-07-15 20:48] Aybee commented on #58
EM or REM in vertical spaces makes sense. e.g. p{margin-bottom:1em}. This makes sure that the distance between paragraphs relates to the actual font-size of a paragraph.

[2015-07-15 20:53] Aybee commented on #56
Different values can have reasons. You can not say "don't mix values" across-the-board.

[2015-07-15 20:57] MoniqueHahnefeld commented on #56
@Aybee Yes but there are much parts where I can not see a reason for it. The next time I'll post it with example.

[2015-07-15 20:57] #56 closed

[2015-07-15 20:59] MoniqueHahnefeld commented on #58
@Aybee Thx, I supposed something like that. Want to be sure about that :)
What do you think about the global font-size unit, we should use? I prefer rem and not px.

[2015-07-15 21:10] Aybee commented on #58
I always use REM http://caniuse.com/#feat=rem

[2015-07-15 21:12] Aybee commented on #56
Yes please, example is necessary.

[2015-07-15 21:19] Samuelll commented on #58
me to. REM and, if necessary, px Fallback via mixin.

Am 15.07.2015 um 23:10 schrieb Andreas Burg:

[2015-07-15 22:31] Aybee commented on #56
For example: Padding values with % unit get computed by the width of the parent element. http://jsfiddle.net/Andreas/ehLukfoz/ You can't do that with REM or EM.

[2015-07-17 11:40] MoniqueHahnefeld commented on #56
@Aybee Such case I have never needed in my 12 years css experience :) Every Designer I know prefers absolute value for padding or margin (e.g. in px).
In past box-sizing didn't exist. IE 8 and lower doesn't support it. In this cases you needed it for fluid grid.
But at the moment you can mix px/em/rem and %. That's no problem. And this theme does not support IE 8 so far.

[2015-07-17 12:51] Aybee commented on #56
It was just an example. It's used by flowplayer to generate a box with for example 16:9 format without setting a height.

At least for paragraphs designers should set spacing according to font-size. Also in other situations designers should think about if it's appropriate to use values that adapts oneself to the users browser font-size settings or the actual font-size settings of elements.

Core f

[2015-07-17 22:17] MoniqueHahnefeld commented on #56
@Aybee Yes, there you are right :) +1

[2015-07-18 20:36] mathContao opened #61 "Erweiterungskatalog: Autor = do_while"
Ich habe eben Contao 3.5.0 mit der Demo V 3.4.2 ausprobiert.

Im Erweiterungskatalog ist nach der Installation im Autoren-Filter "do_while" ausgewählt gewesen. War zu beginn etwas verwirrend, dass ich die gesuchten Erweiterungen nicht gefunden hatte.

Vorschlag: Autoren-Filter auf "Autor" setzen.

[2015-07-18 21:00] Samuelll commented on #61
Danke für den Hinweis.

Am 18.07.2015 um 22:36 schrieb maTh:

[2015-07-18 23:31] mathContao opened #62 "Rand vom Contao-Logo sehr stufig"
Ich habe eigentlich nicht das Auge dafür, trotzdem fällt es mir auf: Der Rand des Contao-Logos im Slider ist sehr stufig. Betrachtet mit einem "normalen" Display (kein Retina).

![unbenannt](https://cloud.githubusercontent.com/assets/1645099/8763924/b3f561bc-2db5-11e5-9cb6-0d9ac3e8a985.JPG)

[2015-07-18 23:35] mathContao opened #63 "Favicon fehlt"
Fehlt das Favicon bewusst?

Ich persönlich finde Webseite ohne Favicon "unvollständig". Die Wiedererkennung im Tab-"Wald" (bzw. Lesezeichenverwaltung) ist ohne Favicon nicht gegeben.

[2015-07-19 04:56] MoniqueHahnefeld commented on #63
It's no Website, It's a Theme :)

[2015-07-19 08:13] mathContao commented on #63
favicon is not a part of a theme?

[2015-07-19 08:58] MoniqueHahnefeld commented on #63
I say only that a Theme is not a website ^^

[2015-07-19 21:24] Aybee opened #64 "Link auf contao.org"
Hallo, auf der Startseite http://demo.contao.org/ der kleine Link unten sollte auf  https://contao.org/ leiten, nicht auf http://www.contao.org/. Und auf der Seite 'About Contao' http://demo.contao.org/en/about-contao.html sollte diese Resource auch vorhanden sein.

[2015-07-19 23:13] Aybee commented on #62
Das Logo muss als Vektorgrafik gedreht werden und dann bereits in der richtigen Größe als PNG exportiert werden, dann hat man saubere Kanten.
![slider_big-c-new3](https://cloud.githubusercontent.com/assets/1143013/8768328/ffa93c84-2e7b-11e5-889f-42610367a7b8.png)
Das Bild könnt ihr benutzen, wenn ihr wollt. Ich habe das C gerade gestellt, aber die gleiche Größe und den gleichen Anschnitt habe ich

[2015-07-20 12:07] MoniqueHahnefeld commented on #62
+1

[2015-07-20 12:09] MoniqueHahnefeld commented on #2
@Samuelll Du wolltest deine Version, was du schon hast auch hochladen. Wann wirst du das tun :) ?
Ich würde gerne einen Konsens finden worauf wir da aufbauen können, was die Struktur angeht.

[2015-07-20 12:10] MoniqueHahnefeld commented on #2
@may17
"Eine Konvertierung der jetzigen Demo Css samt der Variablen ist für den ersten Schritt vollkommen ausreichend. Zu dem wäre eine Sass Grid implementierung für Contao generell wichtig ebenso wie ein prozentuales Grid." -> warum nicht mehr, wenn es schon gemacht ist? Ich sehe hier den Sinn nicht.
Würdest du mit einer unvollständig durchdachten SCSS-Variante arbeiten wollen?

[2015-07-20 12:15] MoniqueHahnefeld opened #65 "Discuss SASS Solution and PR #60"
@may17 ok, then maybe we can make an advanced branch for not beginners :D
let's discuss. what do you think should be easier?

Maybe we can deliver the css-files as they are now and the scss-files for the advanced users?

[2015-07-20 12:33] Samuelll commented on #2
Die Files sind schon seit 14. fertig.
Scheint als hab ich das mit github noch nicht so im griff :-/

Am 20.07.2015 um 14:09 schrieb Monique Hahnefeld:

[2015-07-20 12:36] MoniqueHahnefeld commented on #2
@Samuelll kannst du nicht einfach ein PR machen wir ich auch oder ein Fork und den Hier verlinken?

[2015-07-30 12:23] may17 commented on #2
@MoniqueHahnefeld es geht bei der COD nicht darum einen Startpunkt für das erste eigene Projekt zu haben. Die Demo ist zum testen und rumspielen da was anderes gibt die Lizenz gar nicht her da shareAlike ;) Daher "keep it simple and stupid".

[2015-07-30 12:27] may17 commented on #65
Feel free to fork the COD and publish it under a pro sass version. There is no need to discuss this topic at the moment.

[2015-07-30 12:27] #65 closed

[2015-07-30 12:34] may17 commented on #57
@MoniqueHahnefeld it dosen`t help the COD project if you create tickets with the answer "I fixed in my version" without any way to reproduce it. We have to fix it in the current css too.

[2015-07-30 12:39] may17 commented on #63
Das ist eine gute Frage ob ein Theme ein Favicon mitliefern sollte. Ich finde nicht das die Demo Theme unbedingt ein Favicon mitliefern muss. Was sagt denn die Mehrheit?

[2015-07-30 12:40] may17 commented on #62
+1 thx @Aybee

[2015-07-30 13:04] Samuelll commented on #63
Muss nicht.
Wir wollen jedoch zeigen wie man eine Seite generell aufbauen kann, somit könnten wir auch zeigen wo ein Favicon eingesetzt werden sollte.

[2015-07-30 13:23] may17 commented on #58
@MoniqueHahnefeld
https://code.google.com/p/chromium/issues/detail?id=320754
https://vasilis.nl/nerd/dislike-rem-unit/
https://mindtheshift.wordpress.com/2015/04/02/r-i-p-rem-viva-css-reference-pixel/

[2015-07-30 13:24] may17 commented on #63
Dann wäre ein Vorschlag zur Implementierung gut :)

[2015-07-30 13:39] Samuelll commented on #63
Eine Vorlage für ein favicon erstellen 260px * 260px Format png
Den http://realfavicongenerator.net/ bemühen und das Ergebnis einbinden.
Dabei kommt der Code in das Feld des Layouts und die ca. 20 Grafiken die dabei entstehen in einen Ordner "files/contaodemo/theme/img/favicon".

[2015-07-30 16:14] ciaobello commented on #63
Ich finde es nicht nötig dass eine Standard Installation ein Favicon braucht. Das erinnert mich schwer an Joomla, erkennt/erkannte man sofort mit welchem CMS die Seite erstellt wurde. Das ist dann schlimmer als kein Favicon. Dann verliert nämlich ein Favicon auch die Wirkung, dass man sofort erkennt um was für eine Seite es sich in der URL/Favoriten handelt.

[2015-07-31 11:18] MoniqueHahnefeld commented on #57
@may17 I would like to help and add this ticket actually as proposal for enhancement. If help is unwished I will make my own stuff. Thx

[2015-07-31 11:22] MoniqueHahnefeld commented on #2
@may17 Also @Samuelll war auch der Meinung das eine SCSS-Variante angebracht ist. Ich versteh deinen Ansatz ehrlich gesagt überhaupt nicht. @leofeyer Hat die Letzte Music Academy auch als SCSS-Variante gebracht. Und damit kann man auch besser herumspielen und lernen.

[2015-07-31 12:02] Samuelll commented on #2
@MoniqueHahnefeld Eine SCSS-Variante stand auch nie in Frage.
Lediglich bei der Tiefe der Ausgestaltung seit Ihr nicht einer Meinung.

Ich bin mir selbst noch nicht sicher wie tief diese gehen soll, kann mir aber durchaus vorstellen, dass einige nicht so erfahrene Interessenten auf der Strecke bleiben, wenn man alle SCSS-Register zieht.

[2015-07-31 12:39] MoniqueHahnefeld commented on #2
@Samuell Ja ich habe das ja verstanden das meine Variante vielleicht zu komplex für einen Anfänger ist. Ich finde es aber wenig konstruktiv wenn man einfach pauschal sag: "Das nehmen wir so nicht"
Wir können doch hier eine sinnvolle Struktur diskutieren und uns darauf dann festlegen. Ein SCSS-Package nützt finde ich nix wenn die Struktur nicht gut ist.

Ich wollte gerne was mit meinen SCSS Erfahru

[2015-07-31 13:09] Samuelll commented on #2
@MoniqueHahnefeld Ohne jetzt genau nachzulesen hab ich nicht "Das nehmen wir so nicht" verstanden. Eher habe ich was von "sehr guten Ansätzen" in Erinnerung.

Eine sinnvolle Struktur ist Projekt- und Geschmacksabhängig.
Ich habe aktuell gerade ein spannendes Projekt wo ich wieder eine andere Ordner - und Dateistruktur vorfinde, als ich sie bisher gesehen oder genutzt habe. Gute Struktur definiert

[2015-07-31 13:45] may17 commented on #2
@MoniqueHahnefeld ich habe in keinem Satz gesagt "Das nehmen wir so nicht". Das ist schlicht eine Unterstellung.

Ich verstehe noch nicht genau was deine Mission gerade ist? Ich habe eher das Gefühl, dass es dir darum geht die COD so zu verändern wie es dir passt. So funktioniert das aber nicht. Wenn du dich in die COD einbringen willst wäre es sinnvoll das Gespräch mit den beteiligten zu Suchen a

[2015-07-31 13:51] may17 commented on #57
Please be honest, how helpful is a topic like "remove double declaration in stylesheets" without any description? Any help is welcome but as i said before, this tickets is not helpful without a pul request or problem descriptions.

[2015-07-31 15:43] MoniqueHahnefeld commented on #57
@may17 It was thought as part of task in future, no direkt bug report. So someone could go through the stylesheets and looks for this double declaration. so you close it and its not done. ^^

[2015-07-31 15:49] MoniqueHahnefeld commented on #2
@may17 Nein das verstehst du falsch. Ich warte nur seit dem PR mal auf ein konkretes Feedback. Sowas wie: Die Variablen übernehmen wir. Oder die Ordner sind auf jeden Fall sinnvoll. Einfach damit es weiter geht. Entschuldige wenn ich da etwas ungeduldig bin. Und ich wüsste jetzt auch nicht warum wir das nicht hier ausdiskutieren können. Dafür sind doch die Tickets und es kann so jeder seine Meinun

[2015-07-31 16:27] Aybee commented on #58
Short statement:

I don't care about IE8. I think you neither do.

I don't use PX as I don't want to disregard the users  browsers font size settings respectively the output devices default font size setting. And I like to be able to easily adjust the overall font sizes by just changing one value. Normaly my HTML gets no setting so BODY gets the users (devices) font size if I set it to 1rem.

I pr

[2015-08-02 12:06] may17 commented on #2
Ich wüsste nicht über was es zu diskutieren gibt. Dieses Ticket hat nichts mit deinem Pull request zu tun. Du musst dich wohl oder übel gedulden.

[2015-08-02 12:06] #2 closed

[2015-08-02 12:08] may17 commented on #57
It´s not your job decide what we have to do in near feature. And as i said before. This kind of tickets aren`t helpful.

[2015-08-02 12:08] #57 closed

[2015-08-02 13:35] MoniqueHahnefeld commented on #57
Ok, then I will ask you next time :)

[2015-08-03 15:42] mathContao commented on #63
@ciaobello: Das Icon würde ja nur dann zu sehen sein, wenn die Demo-Webseite bewusst installiert wurde UND die Demo dann modifiziert und dann produktiv genutzt wird. Man wird dann wohl nicht nur das Favicon wiedererkennen, sondern auch weitere Gestaltungselemente.

Ich bin noch FÜR ein Favicon ;)

[2015-08-03 21:11] may17 commented on #63
Ok überzeugt. Also meinetwegen können wir ein favicon hinzufügen. Vielleicht auch gar nicht so schlecht als Beispiel wie man Favicons in Contao einbinden kann.

btw. wer die Demo Produktiv einsetzt sollte sich der Lizenz bewusst sein. Wenn die Demo für ein Kundenprojekt zur Verfügung gestellt wird muss das Projekt wieder unter die gleiche Lizenz gestellt werden was bedeutet das jeder sich an dem P

[2015-08-03 22:27] #64 closed

[2015-08-03 22:28] may17 commented on #61
Fixed

[2015-08-03 22:28] #61 closed

[2015-08-03 22:29] may17 commented on #53
Fixed auf der Startseite

[2015-08-03 22:29] #53 closed

[2015-08-06 17:07] d3d3x opened #66 "FPD at demo"
######################
Thx for this post.
This is the wrong position, so i forwarded it to the right people.

[2015-08-06 19:42] #66 closed

[2015-08-06 19:52] Samuelll commented on #66
Thx for this post.
This is the wrong position, so i forwarded it to the security maillinglist

Next time please send bugreports by mail  to security@lists.c-c-a.org.
of have a look at
https://c-c-a.org/aktuelles/news/details/security-mailingliste

[2015-08-13 13:43] may17 commented on #58
It`s my wish to create a COD 2 with a new modern look. The contents of the cod are good (just the frontpage needs an update for my opinion) but the design isn`t up to date.

Perhaps it makes more sense to use rem in newer version? What do you think?

[2015-08-13 13:45] may17 commented on #28
Da die Sass Migration abgeschlossen ist kann man sich dem Thema auch wieder annehmen :)

Mir ist da nur eine Sache aufgefallen. Müsste man bei einer Übersetzung auch das Theme anpassen? Ich spiele hier auf die Bezeichnungen bei den Modulen an. Was meint ihr?

[2015-08-13 16:26] Samuelll commented on #58
Ich mag REM und arbeitegern damit.
Generell bin ich also dafür.

[2015-08-13 20:03] may17 commented on #58
@Samuelll feel free to refactor it :)

[2015-08-13 20:20] Samuelll commented on #58
@may17 Wie stehst Du denn zu REM für die fontsitze  in diesem Projekt?

[2015-08-14 00:30] Aybee commented on #58
I totaly agree. Maybe it's just down to the colors. (Which I never liked).

Use **PX** when it makes sense. Use **EM** where it makes sense (e.g. margin-bottom of paragraphs, or if you think the inheritance is exactly what is needed in a special situation). Use **REM** when you want to respect the devices font-size settings and don't want to juggle around with unwanted inheritance.

With the paddi

[2015-08-14 00:35] Aybee commented on #28
Meiner Meinung nach nicht. Ich benutze für Modulnamen, Layouttitel usw. sowieso immer englische Bezeichnungen. So ist die Weiterentwicklung nicht auf deutschsprachige Mitarbeiter angewiesen.

[2015-08-14 02:19] ciaobello commented on #28
@Aybee +1

[2015-08-14 05:50] may17 commented on #28
@Aybee das sehe ich genauso allerdings geht es hier ja um eine Demo die einfach nachvollziehbar sein sol. Ok dann lassen wir das vorerst mal. Kann man ja immer noch nachschieben.

Dann brauchen wir nur freiwillige Übersetzer ;)

[2015-08-14 11:09] ciaobello commented on #28
Ich dachte mir, dass man vielleicht mit Komentaren im Quelltext sich auf eine Übersetzung einigen kann. Hinweise für Leute die sich der englischen Sprache nicht mächtig sind.

[2015-08-14 13:26] Aybee commented on #28
@ciaobello Kommentar im Quelltext? Verstehe jetzt nicht, wie Nichtenglischverstehern das helfen soll.

Navigation, Newsletter, Reader, Event, Standard, Column usw. solange das solche mehr oder weniger eingedeutschten Begriffe sind, sollte das ja kein Problem sein.

@may17 Ich bin bereit einen Satz zu übersetzen. :smirk: Nein im Ernst, ich würde mir **eine** Seite vornehmen. Kannst du Seiten an Fre

[2015-08-15 04:20] ciaobello commented on #28
@Aybee ich habe noch mal über die Frage von may17 nachgedacht/nachgeschaut. Wenn wir jetzt in der Übersicht von den Modulen gucken, hast Du bei deutsch eingestelltem Backend schon mal Hinweise zu den Modul-Arten [eckige Klamern], die werden ja mit der Core Sprache übersetzt. Ich finde solche Bemerkungen in Zusammenhang mit Fremdsprachen wichtig und hilfreich. Hingegen Custom HTML ist nicht sehr au

[2015-08-20 15:13] Aybee commented on #28
Mmh, also so richtig verstehe ich nicht was du möchtest.
**Header - Included Top Bar [Eigener HTML-Code]**
ist doch in Ordnung, wobei ich
**Header - Inserted Article 30 [Eigener HTML-Code]**
wahrscheinlich noch besser finden würde.
**(Links in Kopfzeile)** ist meiner Meinung nach überflüssig und wenn, dann würde **(In header left)** doch auch gehen.

Mehrsprachige Kommentare in CSS-Dateien fände i

[2015-08-20 15:44] Samuelll commented on #28
Also ich möchte das CSS nicht noch mit anderen Kommentaren als denen in EN füllen.
Sobald man dort DE Hinweise hinterlegt und es weitere Sprache gibt ist das Geschrei groß.
"Warum die und wir nicht".

Laßt uns nur die FE Texte übersetzen und den Rest in EN halten.

Ach das derzeitige Naming der Module find ich okay.
Wenn man noch was an dieser Bezeichnung ändert:

Header - Included Top Bar [Eigene

[2015-08-20 17:03] Aybee commented on #28
Auch keine schlechte Idee mit dem **Layout** davor. Da hat wohl jeder so seine eigene vorteilhafte Namensgebung (hoffe ich). Wichtig ist, dass die Namensgebung auch Überblick verschafft. Artikel welche ich mit `insert_article` in ein Modul einfüge heißen bei mir immer z.B. **_GLOBALS - Header**, weil diese Artikel sich auf einer unveröffentlichten Seite **_GLOBALS** befinden. Das hat sich bei mir

[2015-09-10 00:57] ciaobello opened #67 "Is there a changelog for the official demo?"
If not i would find it nice to get one ;)

[2015-09-19 20:05] Samuelll commented on #63
Habe mir nun erlaubt wegen der Größe das Contao-Community Logo als Basis für die Favicons einzusetzen.
Über den Favicongenerator haben die Icons für Windows Phone und Appe leider nen Hintergrund.
Fühlt euch frei das ggf. noch zu korrigieren wenn Ihr etwas Zeit übrig habt. :-)

[2015-09-19 20:05] #63 closed

[2015-09-19 20:07] Samuelll commented on #67
CHANGELOG.md hinzugefügt und letzte Änderungen vermerkt.
Die Version und das Datum habe ich noch offen gelassen, da es noch keine COD 3.5.1 gibt.

[2015-09-19 20:07] #67 closed

[2015-09-20 22:42] Aybee commented on #63
Ich habe die Favs mal mit easyFavicon erzeugt https://contao.org/erweiterungsliste/view/easyFavicon.html. Die müssten eigentlich ohne Hintergrund sein.
Markup dazu:
[code]
![favicon-apple-touch-icon-contao-offical-demo](https://cloud.githubusercontent.com/assets/1143013/9983358/53850e06-5ff9-11e5-8ee1-9d043499cf4b.png)
![favicon-contao-offical-demo ico](https://cloud.githubusercontent.com/assets/1

[2015-10-17 19:37] Aybee opened #69 "Layout "2 columns" on page "Event Detail" is redundant"
Layoutzuweisung auf Seite Event Detail kann entfernt werden.

Und weil ich gerade den Screenshot hier habe und kein eigenes Ticket dafür aufmachen möchte: Diese Aliase können noch geändert werden:

1. My Account (account) => my-account
2. Logout (uer-logout) => logout
3. RSS Reader (rss) => rss ? Wenn der Alias hier auf rss stehen bleiben soll, könnte man den Seitennamen auch nach RSS ändern

Das

[2015-10-23 13:42] sascha-mueller commented on #69
@Aybee: Danke für die Hinweise. Werd mich dieser Dinge annehmen.

[2015-10-24 17:08] may17 commented on #69
@sascha-mueller  wo ist denn der commit zum Fix?

[2015-10-24 17:16] sascha-mueller commented on #69
Wenn Du das auf den "close" beziehst, der war nicht beabsichtigt.
War mir garnicht bewußt, dass ich das Ticket geschlossen hatte.

[2015-10-25 00:02] Aybee commented on #69
Zur schnellen Kontrolle kannst du die Dateien aus dieser ZIP in deinen ROOT schieben.
http://public.andreasburg.de/MyBE.zip

[2015-11-15 21:26] sascha-mueller opened #70 "Link zu Insert Tags"
Der Link zu den Insert Tags auf der Seite "Members Area" ist veraltet.
Der neue Link lautet derzeit:
https://docs.contao.org/books/manual/3.5/en/04-managing-content/insert-tags.html

[2015-11-15 22:31] #69 closed

[2015-11-15 22:33] sascha-mueller commented on #69
Das redundante layout hab ich entfernt.

Die beiden Seiten
top-menu-folder/login/account
top-menu-folder/login/user-logout
waren ohne Inhalt und anscheinend auch nirgendwo verlinkt.
Ich habe sie deshalb entfernt.

Bei der RSS-Seite empfinde ich den Titel als "Beschreibendes Element mit "RSS Reader" als korrekt.
Aus meiner Sicht ist der Alias hingegen mit "rss" korrekt benannt. Ich habe mich daher

[2015-11-15 22:33] #70 closed

[2015-11-15 23:59] Aybee commented on #69
Ich danke dir. RSS könnte man evtl. RSS News(rss-news) benennen.

[2015-11-20 13:44] sascha-mueller commented on #69
Ich bin immernoch mit der Benamung zufrieden, wie ich Sie oben beschrieben habe.
Sollten mehrere Leute damit nicht einverstanden sein, wär ich als nächstes dafür es einfach nur rss zu nennen.

[2015-11-20 22:44] Aybee commented on #69
Ist ja auch nicht so wichtig, ist halt nur nicht konsistent. Mir als geborenem Kleinkrämer fällt es halt auf ;)

Die Seiten mit dem Newsreader und dem Eventreader heißen ja auch nicht "News Reader"... Und es gibt auch sonst keine Seiten, welche nach ihrem Haupt-Modul benannt sind. Und wenn sie doch "RSS Reader" heißt, was spricht hier dafür auf die Konsistenz zu verzichten und diese Seite als einz

[2015-11-22 00:08] sascha-mueller commented on #62
Bild ist getauscht.

[2015-11-22 00:08] #62 closed

[2015-11-23 06:59] may17 commented on #62
Thx. Allerdings wäre es besser wenn du die Änderungen im Develop Branch machst, da sonst die gefahr besteht das wir beim mergen für ein release nen alten stand reinholen.

[2015-11-24 20:23] Mynyx opened #71 "Rechte der Beispielbenutzer"
Die Beispielbenutzer in der Gruppe "Editors" können keine Artikel bearbeiten, da ihnen die entsprechenden Rechte fehlen. Dies ist etwas irritierend, insbesondere da das Modul "Artikel" für sie freigeschaltet ist.

[2015-11-25 22:01] testbird commented on #69
Nur RSS scheint mir nicht eindeutig. Beim RSS Button rechts oben hatte ich z.B. erwartet das der RSS-Feed mit den News der Demo-Seite geoffnet wird.

Was kam würde ich als "Contao Project News (RSS-Reader)" bezeichnen.

[2015-11-30 14:35] project-shasta opened #72 "Rechtschreibfehler unter "Include elements""
Die Überschrift im Artikel "Include elements" (Inhaltselements ID 190) enthält einen Buchstabendreher. Aus "In**lc**ude elements" muss demnach "In**cl**ude elements" werden.

[2016-01-02 10:14] fritzmg opened #73 "Event page with errorneous link"
The "[Events](http://demo.contao.org/en/events.html)" page says the following:

However, there are no actual entries in March 2013.

[2016-01-28 12:00] ciaobello commented on #73
Its not march ... the Demo Data is in may 2013 ... so changing link to
http://demo.contao.org/en/events.html?month=201305
solves the problem.

[2016-05-12 21:34] Aybee opened #74 "Missing newsletter list"
Es gibt bereits ein Module **Newsletter - List** aber es scheint nirgendwo eingebunden zu sein. Vielleicht kann man das noch auf der Seite Newsletter einbinden.

[2016-05-15 20:33] Aybee commented on #74
Sorry, ist im Layout **2 columns - Newsletter** in der linken Spalte eingebunden.

[2016-05-15 20:33] #74 closed

[2016-05-15 20:38] Aybee opened #75 "Unneeded modules in layout "1 column""
There are 2 unneeded modules in layout **1 column** in left column. This layout has **no** left column.

[2016-05-15 20:55] sascha-mueller commented on #75
Hallo Andreas,
danke für den Hinweis. Ich werd mir das nach der Konferenz mal anschauen.

[2016-05-15 20:59] sascha-mueller opened #76 "COD nach Contao 4.x portieren"

[2016-06-27 13:26] Aybee opened #77 "Update page events"
Die Seite http://demo.contao.org/en/events.html sollte mal überarbeitet werden. Der Link **click here to go to March 2013** zeigt schon lange keine Resultate mehr. Evtl. wäre es besser die Liste **Upcoming Events Example** gegen eine Liste auszutauschen, welche direkt **alle** Events anzeigt.

[2016-07-27 14:19] ADoebeling opened #78 "[BE][FileManager] Error on edit file"
If you try to edit a file within the filemanger you get an error:

![image](https://cloud.githubusercontent.com/assets/10674780/17178460/d79ad6f6-5415-11e6-8579-150d75d445a4.png)

[2016-07-27 14:47] Aybee commented on #78
For security reasons this option is locked in the online demo. It will work in your own installation.

[2016-07-27 19:09] A-G-F opened #79 "SASS can not compile variables in single quotes => add function"
Microsoft CSS filters like
`filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$navOffGradient1', endColorstr='$navOffGradient2',GradientType=0 );`
do not compile correctly.

For a solution see https://github.com/contao/official-demo/pull/68

[2016-07-28 08:10] may17 commented on #79
I am still waiting on a comment from @sascha-mueller because it`s his part and he created the sass stuff.

[2016-07-28 08:10] #78 closed

[2016-07-28 08:15] ADoebeling commented on #78
Thanks for the feedback. I'm not sure, which of the following options could harm the demo-installation?

![image](https://cloud.githubusercontent.com/assets/10674780/17205648/2329b5ec-54ac-11e6-9ea0-2164251347d0.png)

[2016-07-28 09:10] Aybee commented on #78
I only tested the editing of the files content.

Yes the editing of filename and meta data should not be a security risk.

Maybe the text "An error occurred!" can be changed to "Locked for security reasons in online demo!".

[2016-07-28 12:01] sascha-mueller commented on #79
Lass uns den Pullrequest übernehmen.
Ich habe damals keine Probleme bei der Verwendung entdecken können, will aber nicht ausschließen, dass ich etwas übersehen habe.

[2016-07-28 13:44] may17 commented on #79
Done

[2016-08-19 21:02] Aybee commented on #77
Related #73

[2016-10-08 19:39] mmiat opened #80 "nothing happens"
I've installed this demo in contao 3.5.17 and nothing happens, only 1 template appears

[2016-10-08 20:45] ciaobello commented on #80
Did you install as described in them Manual:
https://github.com/contao/docs/blob/3.5/manual/en/01-installation/installing-contao.md#importing-a-template
?

[2016-11-07 19:07] bezin commented on #76
Hallo Hallo,

wie ist denn da der Stand der Dinge und kann man hier unterstützen?

LG benzin

[2016-11-07 20:46] #80 closed

[2016-11-08 22:58] sascha-mueller commented on #76
Hallo Benzin,
stand ist, dass wir erst mal einen sauberen Branch erstellen müssen, da ich wohl die Aktualisierungen in den falschen geschrieben habe.
Ich halte es für Sinnig danach die derzeit bekannten Fehler zu fixen, eine aktuelle Version für 3.5 zu veröffentlichen und auf Basis dieser eine Version für 4.x zu erstellen.

[2017-08-03 10:17] Aybee commented on #76
Siehe auch hier:
[Forum: Contao 4 - COD - Contao Official Demo - Download ](https://community.contao.org/de/showthread.php?67049-Contao-default-Theme-quot-Music-Academy-quot&p=447691&viewfull=1#post447691)

Die ZIP enthält einen DB-Dump von Contao 4.4.2 mit COD und die Ressourcen aus files/ inkl. der geänderten _navigation.scss.

[2017-08-03 19:40] Aybee opened #81 "Please set k.jones limitWidth to 1, like the default setting"
Ich ärgere mich jedesmal darüber, dass das Demo-BE in voller Breite angezeigt wird. Das macht es auf einem 27" Monitor mit 1920px Breite nicht einfach. Man muss den Kopf hin und her drehen um alles zu sehen, hat aber keinen Mehrwert, dass man z.B. weniger scrollen müsste oder mehr sehen würde (außer mehr Leerflächen und Farbe).

Selbst auf einem 15" Monitor würde ich mit 1920 Breite nicht mehr seh

[2017-08-23 23:33] Aybee commented on #76
Thank you Cliff 🥇

[2017-08-24 04:59] may17 commented on #76
Danke Cliff! Ich schau mir das an!

[2017-10-06 15:42] #76 closed

[2017-10-19 21:36] Aybee opened #83 "Wrong text for "wildcard search" regarding the middle of a keyword"
It is not and was never possible to search with a wildcard in the middle of a keyword.

https://github.com/contao/core/issues/8800

[2018-02-12 16:29] ADoebeling opened #84 "Demo-Backend is broken"
Currently you can't login into the demo-backend:
https://drive.google.com/file/d/1mEmHjnY5K9T5DlOvzrhH6S8cPSeOnLJR/view

After loggin in you're getting redirected to `/ `with a `302 FOUND`.

[2018-02-12 17:08] frontendschlampe commented on #84
no problem ... now it's working again. Maybe someone tried something and it goes wrong. After reset (every 10 min I think) everything is fine! ;-)

[2018-02-13 09:54] ADoebeling commented on #84
@frontendschlampe Sorry, but I can't confirm. It still doesn't work.

[2018-02-13 09:57] frontendschlampe commented on #84
hmmmm ... I tried with Safari, Firefox and Chrome on MacOS and I have no problems!

[2018-02-13 10:13] ADoebeling commented on #84
Check at Windows 10 / Kabel Deutschland:
* Chrome: Error as described befor
* Chrome/private mode: Error as described befor
* Edge: Same error
* Firefox 56: Same error

Check at Windows 10 / Vodafone LTE: (without any Routers/Switches/Firewalls/...)
* Chrome/private mode: Same error
* Edge: Same error

![image](https://user-images.githubusercontent.com/10674780/36144637-f8742d58-10ae-11e8-9a16-837

[2018-02-13 10:35] zonky2 commented on #84
no problems with
* Chrome Version 64.0.3282.140 (Offizieller Build) (64-Bit)
* Win 7 Ultimate 64

[2018-02-13 10:37] kikmedia commented on #84
Works for me (Windows 10, Chrome 64 and FF Quantum latest).

[2018-02-13 11:33] Aybee commented on #84
A few days ago I wanted to show a customer the demo BE. I watched him by doing this with skype. He was not able to login, he always gets redirected to a page in the FE. Tested with FF58 and Chrome.

[2018-02-13 17:42] may17 commented on #84
This is an hosting issue on demo.contao.org not an official demo issue. You should report this on the contao/website issue tracker.

[2018-02-13 17:42] #84 closed

[2018-03-23 15:23] fkaminski opened #85 "Nur Theme Import via Theme-Manager"
Hallo,
eine Verständnisfrage. Wenn ich die Demo für die 4.4.x via Composer installiere werden die entsprechenden Datendateien installiert. Ich möchte nun aber NICHT im Anschluß über das Installtool das entsprechende Website-Template importieren. Vielmehr lediglich die Theme Einträge über den Contao Theme-Manager importieren. Eine entsprechende .cto Datei ist aber nicht vorhanden. Ist das systembed

[2018-03-23 20:44] Aybee commented on #85
Da ist einfach keine CTO dabei. Die Komponenten des Themes kann man ja auch direkt in die DB schreiben und steht einfach in der SQL mit dabei. Du hast jetzt zwei Möglichkeiten.

1. Du modifizierst die SQL und schmeißt alle Tabellen raus, die du nicht importieren möchtest. Mach aber vorher ein DB Backup, weil dabei Datensätze überschrieben werden könnten, welche schon existieren.

2. Exportiere das

[2018-03-26 11:16] fkaminski commented on #85
Ok,
Danke ...

[2018-03-27 18:49] may17 commented on #85
@fkaminski eigentlich war da immer eine cto Datei dabei. Die fehlt scheinbar beim 4er port. In der 3.5er war sie dabei siehe hier https://github.com/contao/official-demo/tree/develop/src/files/contaodemo

Das ist also ein bug!

[2018-03-30 15:44] may17 opened #86 "Support 4.5"
We have to create an new demo version for 4.5. Perhaps an job for @cliffparnitzky ?

[2018-06-13 17:49] cliffparnitzky commented on #86
Was heißt das denn genau? Gibt es da bestimmte Dinge die unterschiedlich sind?

[2018-06-13 19:45] cliffparnitzky commented on #86
Ahhh, database ... habs selbst bemerkt.

[2018-06-13 20:32] cliffparnitzky commented on #81
Da im Zuge der SQL Anpassung von #86 das Feld `limitWidth` entfernt wurde (nicht mehr in Contao 4.5) enthalten, kann dieses Ticket geschlossen werden.

[2018-06-13 20:32] #81 closed

[2018-06-27 22:07] #72 closed

[2018-06-27 22:07] #83 closed

[2018-06-27 22:07] #86 closed

[2018-08-29 11:35] cliffparnitzky commented on #79
@may17 Kann das Ticket zu? Der PR #68 wurde ja gemerged.

[2018-08-29 12:25] may17 commented on #79
Ja kann zu. Ich schließe mal das Ticket.

[2018-08-29 12:25] #79 closed

[2018-09-12 21:03] #71 closed

[2018-09-12 21:03] #73 closed

[2018-09-12 21:03] #75 closed

[2018-09-13 07:01] leofeyer opened #87 "Contao 4.6 requires error 401 pages"
Contao 4.6 requires error 401 pages instead of error 403 pages to redirect unauthenticated users. The version 4.6 update automatically converts existing 403 pages to 401 pages, however, the current SQL dump still contains 403 pages.

[2018-09-13 08:06] leofeyer opened #88 "Contao 4.6.3 dump cannot be imported"
The Contao 4.6.3 SQL dump cannot be imported due to a field `tinyMceFontAwesome` that does not exist in Contao 4.

[2018-09-13 10:15] cliffparnitzky commented on #88
Damn, i will fix this immediately.

[2018-09-13 10:17] cliffparnitzky commented on #87
I'll check this and fix this soon.

[2018-09-13 20:31] #87 closed

[2018-09-13 20:31] #88 closed

[2018-09-14 06:19] leofeyer commented on #87
Thanks 👍

[2018-09-14 06:19] leofeyer commented on #88
Thanks 👍

[2018-09-19 06:33] contaoacademy opened #89 "Enable syntax highlighting for code-element"
Page: https://demo.contao.org/en/text-elements.html

Change Layout-Settings:
Enable js_highlight

[2018-09-19 07:54] cliffparnitzky commented on #49
@may17 Is this still an issue in Contao 4 or can we close it?

[2018-09-19 09:38] fkaminski commented on #85
Na ja, ist wohl eine Grundsatzfrage bzw. ist selbstverständlich jedem Theme Anbieter überlassen wie was bereit gestellt wird. Wenn ein Theme ausschließlich den internen CSS Editor nutzt reicht die .sql aus - mögliche custom templates können zudem zuvor via Composer Plugin kopiert werden.

Falls ein Theme (scss/css/js) auf externen Daten beruht hat man halt die Option lediglich das Theme an sich  -

[2018-09-19 09:59] fkaminski commented on #85
Evtl. habe ich mich mißverständlich ausgedrückt.
Über die aktuelle Vorgehensweise werden die Theme Daten ja via

`
"extra": {
"contao": {
            "sources": {
                "src/files/contaodemo": "files/contaodemo",
                "src/templates/codv4.2.0_contao_4.6.3.sql": "templates/codv4.2.0_contao_4.6.3.sql",
                "src/templates/contaodemo": "templates/contaodemo"

[2018-09-19 19:57] cliffparnitzky commented on #85
Sehr verständlich erklärt. Vielen Dank. Ich packe die cto Datei in den nächsten Release.

[2018-09-19 20:31] #85 closed

[2018-09-19 20:31] #89 closed

[2018-09-21 09:27] may17 commented on #49
@cliffparnitzky yes the problem still exists.

[2018-09-21 10:05] cliffparnitzky commented on #49
Okay. We will leave it open.

[2018-09-21 12:04] frontendschlampe commented on #49
just a question: Why using mediaelement.js?

[2018-09-21 12:50] cliffparnitzky commented on #49
I don't know how to configure this CE correcly. The element was improved in the last Contao version.

Maybe @frontendschlampe you can configure it correctly in my test environment, so I can export it for the next release.

But then I still don't know, if the reponsive problem is fixed.

[2018-09-21 12:56] frontendschlampe commented on #49
no problem ... we made the improvements of video elements. Just send me a login and I will check! :-)

[2018-10-30 09:28] Aybee commented on #26
Die Seite https://demo.contao.org/en/media-elements.html konnte eben nicht aufgerufen werden - Fehlermeldung im FE. Es liegt an dem Videoelement. Dieses hatte kein Template ausgewählt. Ich habe dann das Core-Template ausgewählt und gespeichert. Dann lief die Seite wieder.

Dann wollte ich den Fehler wieder provozieren und habe das Template wieder abgewählt - FE lief seltsamerweise immer noch.

Dan

[2018-10-30 18:21] cliffparnitzky commented on #26
Hmm, also ich kann auch meinen 3 Testsystem den Fehler nicht erzeugen.

Allerdings sehe ich, dass die Konfiguration genau diese Youtube Elements nicht korrekt vom SQL in Contao ankommt. Grundsätzlich sollte dem Youtube Element das Template `ce_player_responsive` zugewiesen sein. Man kann das im BE aber nur im Info Popup sehen, weil das Select in der Edit Maske den Namen nicht zulässt. Insofern den

[2018-10-30 20:09] Aybee commented on #26
Aber du siehst den Fehler, wenn du meinen Link anklickst, oder?

[2018-10-30 20:14] cliffparnitzky commented on #26
japp, sehe ich. Aber hier siehst du ihn nicht: http://contao46x.contao.cliff-parnitzky.de/media-elements.html

[2019-02-02 07:01] cmichael-de opened #90 "Install issues on Contao 4.4* LTS with composer"
...
...
 successfully installed.

Using version ^4.2 for contao/official-demo
./composer.json has been created
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - contao/official-demo 4.2.0 requires contao/core-bundle ~4.6.3 -> satisfiable by contao/core-bu

[2019-02-02 07:07] cmichael-de commented on #90
Sorry the issue on my side. I need to look carefully to the releases and requirements. This is working for contao 4.4.* LTS

[2019-02-02 09:13] #90 closed

[2019-02-18 17:03] Toflar opened #91 "Contao 4.7"
Not sure what exactly is your naming convention but here's a dump for 4.7 :-)

I also think you might want to delete the dumps of the unsupported Contao setups from `templates` because they are confusing in the install tool. If you want to keept them for reference, maybe just move them to some other folder but in `templates` we should only have 4.4 and 4.7 imho :)

[codv4.7.0.sql.zip](https://gith

[2019-05-22 18:59] cliffparnitzky commented on #91
Ich hab die SQL Dateien mal in ein Archiv verschoben (siehe 39a6a6b6d8254d617763415725b1e2edacf576b1)

[2019-07-22 03:37] may17 opened #92 "app_dev scss error"
**Affected version(s)**
All
**Description**
On app_dev there will be an scss compile error "Warning: end() expects parameter 1 to be array, null given". The problem is the function near the bottom of the  _variables file where an comment block hangs up below the opening curly braces.
**How to reproduce**
Activate app_dev ;)

[2019-07-22 03:39] #77 closed

[2019-08-26 04:27] contaoacademy opened #93 "Contao 4.8 Kompatibilität herstellen"
Die Demo lässt sich nicht unter Contao 4.8 installieren.

[2019-08-26 06:43] may17 commented on #93
Ein paar mehr Details würden helfen. Ich nehme jetzt Mal an du meinst die Installation über das Installtool?

[2019-08-26 12:27] contaoacademy commented on #93
@may17 Sorry, hier etwas mehr Details.

Ich wollte die Demo über den Contao Manager bei einer frischen Contao 4.8 Installation hinzufügen.
Inwieweit der Datenbank-Dump funktioniert kann ich nicht sagen, da ich so weit nicht gekommen bin.

[2019-08-26 14:50] xchs commented on #93
Das Problem liegt hier in der `composer.json` (https://github.com/contao/official-demo/blob/master/composer.json#L7):
[code]
Der Versionsbereich wird dadurch auf >=4.6.4 und <4.7.0 beschränkt.

[2019-08-26 15:31] contaoacademy commented on #93
Ja und ggf. muss dann noch der DB-Dump aktualisiert werden.

[2019-08-26 15:32] xchs commented on #93
Jup.

[2019-09-10 21:10] Katze75 commented on #93
Wann wird official-demo mit Contao 4.8 compatibel? Installation über das Installtool geht nicht :-(

[2019-09-13 13:49] may17 commented on #93
Ich bin leider derzeit recht beschäftigt. Vielleicht möchte ja jemand einen Pull Request erstellen?

[2019-09-27 13:45] cliffparnitzky commented on #91
Da die V 4.7 schon beendet ist schließe ich dieses Ticket und verweise auf #93

[2019-09-27 13:45] #91 closed

[2019-10-01 20:28] #92 closed

[2019-10-01 20:36] cliffparnitzky commented on #93
Version [4.3.0](https://github.com/contao/official-demo/releases/tag/4.3.0) ist für Contao >= 4.8.4 verfügbar.

[2019-10-01 20:36] #93 closed

[2020-01-23 10:04] jochi44 opened #95 "Update for Contao 4.9"
**Description:**
Is there an updated version of the official-demo for the upcoming Contao V4.9 planned?

Installing the official-demo on a Contao 4.9.0-RC1 environment doesn't work:

`Your requirements could not be resolved to an installable set of packages.
  Problem 1
    - Installation request for contao/official-demo ^4.3 -> satisfiable by contao/official-demo[4.3.0].
    - contao/official-dem

[2020-01-23 10:09] cliffparnitzky commented on #95
Currently there no update explicitly planned ... but we need at least a stable Contao 4.9

[2020-02-27 22:12] cliffparnitzky commented on #26
Ich schließe diese Ticket, da das Problem nun nicht mehr in der Demo vorhanden ist.

[2020-02-27 22:12] #26 closed

[2020-02-27 22:15] cliffparnitzky commented on #95
Die Version [4.4.0](https://github.com/contao/official-demo/releases/tag/4.4.0) kann nun ab Contao 4.9.1  installiert werden.

[2020-02-27 22:15] #95 closed

[2020-03-27 20:12] lolohz opened #96 "Static Layout of #wrapper for Contao Demo is not working (4.8.7 API version 2)"
Hello
This issue is described in
https://github.com/contao/contao/issues/1314
and
https://github.com/contao/contao/pull/1585

It seems that Contao Official Demo needs an update, but I don't know if it must wait for a future development of a new grid/flex solution of Contao, and then this issue could be a request.

I'll very pleasant to contribute if it is possible and if someone tell me how to do

[2020-03-27 20:39] sascha-mueller commented on #96
I dout think it is a bug in the official demo.
contao itself adds adds styles-sheets after inline-styles, so css-files overwrites css-rules with equal specifity.

If I haven't missed anything, contao does not use a fe_page template. In this case the core templates are used.

In short test seems to offer a simple solution:
Open the SCSS file (contaodemo/theme/scss/layout/_layout.scss) and change 'i

[2020-03-28 00:50] lolohz commented on #96
Hello Sascha
Thanks for your quick answer and the work around, but I didn't found id="wrapper" in contaodemo/theme/scss/layout/_layout.scss
My file contains:
/* Layout parts */
#wrapper {
    background-color: $wrapperBgColor;
}

By the way, I would like to say you I'm somewhat disoriented:
The layout of html elements is established by css files, the item composition/tree of html items themselves,

[2020-03-28 00:50] #96 closed

[2020-04-15 08:05] contaoacademy opened #97 "Login als Redakteur funktioniert nicht"
**Fehlerbeschreibung**

1. Contao Backend Login
https://demo.contao.org/contao

2. Login mit Benutzer `h.lewis`

3. Fehlermeldung
`Ungültiger Anfragetoken`

Ein Login mit k.jones funktioniert

[2020-04-15 08:14] sascha-mueller commented on #97
Konntest Du das genau so mit einer selbst installierten Demo nachstellen?

Generell haben wir nämlich keine Möglichkeit auf https://demo.contao.org/contao selbst einzuwirken. Dort kann nur Leo aktiv werden.

[2020-04-16 07:35] contaoacademy commented on #97
Habe ich nicht getestet. Ich wollte es hier nur melden, damit sich jemand mit entsprechenden Rechten darum kümmert.
@leofeyer Kannst du dir das ansehen?

[2020-05-21 16:10] Tastaturberuf opened #98 "404 nicht automatisch weiterleiten"
Es wäre schön wenn die 404 nicht automatisch auf die Startseite weitergeleitet wird.

[2020-05-21 18:35] may17 commented on #98
Wo hast du das Problem festgestellt? Auf demo.contao.org geschieht das nicht allerdings wird da auch keine korrekte 404 angezeigt.

[2020-05-22 07:05] Tastaturberuf commented on #98
In der Import-SQL ist `autoforward = 1` hinterlegt.

https://github.com/contao/official-demo/blob/7e03ab0f0ba0871af7471501e7d01846e2207696/src/templates/codv4.4.0_contao_4.9.1.sql#L528

[2020-05-22 07:09] Tastaturberuf commented on #98
Hier sieht man es durchs Syntax-Highlighting nochmal besser.

![image](https://user-images.githubusercontent.com/1027521/82640958-d62bf600-9c0b-11ea-836a-264957039734.png)

[2020-05-22 07:20] may17 commented on #98
@cliffparnitzky @sascha-mueller spricht nichts dagegen oder?

[2020-05-22 07:42] Tastaturberuf commented on #98
Auf der 404 fehlt dann noch ein Content-Element, im Moment ist da nichts.

[2020-05-22 13:39] sascha-mueller commented on #98
Wogegen spricht nichts? Gegen ne eigene 404 Seite? Nein.

[2020-11-01 12:07] fkaminski opened #99 "Support Contao 4.10.x"
Because of:
https://community.contao.org/de/showthread.php?79308-Contao-Demo-Installationsfehler&p=534257#post534257

[2020-12-16 21:47] cliffparnitzky commented on #97
Das Passwort ist falsch. Gleiches gilt für j.wilson.

[2020-12-16 22:12] cliffparnitzky opened #100 "Remove/Fix modules"
Remove the following modules:

- flash

Fix the following modules:

- nl_list --> newsletterlist
- nl_reader --> newsletterreader

![screenshot](https://user-images.githubusercontent.com/1247552/102414991-b0c36700-3ff7-11eb-8305-17be6245cee8.jpg)

[2020-12-16 22:45] cliffparnitzky commented on #100
Fixed in 1132d38fb7066558f62f6bf650275973d2c8e9ff

[2020-12-16 22:45] #100 closed

[2020-12-16 22:45] cliffparnitzky commented on #97
Fixed in 1132d38fb7066558f62f6bf650275973d2c8e9ff

[2020-12-16 22:45] #97 closed

[2020-12-16 22:46] cliffparnitzky commented on #98
Added with 1132d38fb7066558f62f6bf650275973d2c8e9ff

[2020-12-16 22:46] #98 closed

[2020-12-16 22:59] cliffparnitzky commented on #99
Generell wäre es nicht schierig, eine Demo auch für die 4.10 oder weitere anzufertigen. Allerings ist es mit dem heutigen Verfahren immer etwas aufwändig. Wenn man nun also immer ein Demo für die aktuelle LTS und parallel eine für den latest Release haben will, braucht man ständig 2 System. Soweit, so klar und eben auch nciht dramatisch.

Schwieriger ist wohl eher, die vernünftige Ablage der 2 Dem

[2020-12-17 07:05] may17 commented on #99
Wir sollten darüber einmal sprechen um zu schauen wir damit umgehen.

[2020-12-17 07:22] leofeyer commented on #99
Auf jeden Fall. 👍🏻

[2020-12-17 23:27] cliffparnitzky commented on #99
Ich hab mal einen ersten Entwurf getätigt. Mit dem Branch:  release/official-demo-for-contao-4.10.5

Darin dann ebenfalls eine SQL Datei `official-demo-for-contao-4.10.5.sql`.

- Das alles dann als Version 4.10.5 taggen wäre die exakte Verknüpfung zur minimal gültigen 4.10er Version. So hat man dann u.U. auf der Patch Stelle größere Sprünge. Außerdem wäre ein Fix innerhalb einer Patch Nummer von C

[2020-12-18 00:28] may17 commented on #99
Ich denke wir haben hier zwei unterschiedliche Dinge:

a) Ist die Benamung. Da finde ich cliffs Vorschlag gut. Zumindest wüsste der Konsument direkt Bescheid.
b) Ist der Aufwand der Veröffentlichung. Man muss immer zwei Systeme warten LTS und Latest. Im Grunde ja ähnliches Problem wie vor dem das Core Team steht. Nur das wir die sql Datei haben die so herrlich nicht Versionsfreundlich ist. Viellei

[2020-12-19 17:18] Tastaturberuf commented on #98
Danke schön :)

[2020-12-19 17:28] sascha-mueller commented on #99
Die Benamung parallel zu Contao find ich auch gut. Allerdings würde ich die Patch-Version eher abhängig von unserem Fortschritt sehen, statt diese anhängig von Contao zu machen.

[2020-12-28 15:08] fkaminski commented on #99
Zur Handhabung der .sql Dateien/Installation kann ich nichts sagen. Wenn dann habe ich bisher die .cto genutzt/importiert.

Gibt es diesbezüglich (nur Layout/Theme) Pläne eurerseits?
Denke da im ersten Schritte an Conato Version unabhängigen Umsetzungen via CSS ID/Klassen etc.. Also via vorgegebenen Namenskonventionen (BEM). Wenn die finale Namenskonvention steht könnte man dies evtl. auch über di

[2020-12-28 16:00] may17 commented on #99
Bisher ist die Demo nicht als Startpunkt für neue Websites gedacht sondern nur zum spielen. Das zeigt auch der Blick auf die Lizenz.

Ziel der Demo war es damals Funktionen von Contao vorzustellen und auch etwas Hilfestellung zu geben. Das alles mit Bordmitteln ohne CSS Methodologie etc. damals noch mit dem Stylesheet Wizard (oder wie das Ding hieß)

Zudem wollten wir damals nicht den Themenherste

[2021-03-17 21:01] cliffparnitzky commented on #99
Ich hab jetzt diese Version mit 4.10.0 getaggt. Sie ist zwar erst ab Version 4.10.5 verwendbar, aber mit der Patchnummer würde ich @sascha-mueller folgen ... ich hab doch in der Vergangenheit des öfteren mal nachjustieren müssen ... dass kann ich dann mit der dritten Stelle.

Das Ticket schließe ich dann.

[2021-03-17 21:01] #99 closed

[2021-05-18 09:13] contaoacademy opened #101 "SQL-Template wird beim Import nicht angezeigt"
Problem besteht mit Contao 4.11.3

Nach der Installation der Demo wird über das Installtool kein Template zum Import angezeigt.

**Workaround:**
Aktuell habe ich die `official-demo-for-contao-4.11.1.sql` manuell nach `/templates` kopiert.
Der Import hat anschließend fehlerfrei funktioniert.

[2021-05-18 10:04] cliffparnitzky commented on #101
Kann ich in meinem System leider nicht nachstellen. Kannst du die Erweiterung nochmal deinstallieren und neu installieren und schauen, ob irgendwie eine Info in der Konsole kommt?

[2021-05-18 12:57] contaoacademy commented on #101
@cliffparnitzky
Ich habe noch mal eine komplett frische Contao 4.11.3 aufgesetzt und die Demo per Contao Manager hinzugefügt. Leider erscheint das Template trotzdem noch nicht. Auch ein Leeren des Cache brachte keine Änderung.

Fehlermeldungen oder Meldungen im Log oder der Konsole konnte ich auch nicht finden.

[2021-05-18 21:24] cliffparnitzky commented on #101
Hmmm, kann es am Hosting liegen? Hast du zufällig ein alternativ anderes Hosting zum Testen?

[2021-05-19 09:20] contaoacademy commented on #101
Ich teste später mal lokal und auf einem alternativen Hosting.

[2021-05-19 12:51] contaoacademy commented on #101
Auch Lokal mit MAMP Pro dasselbe Problem. Ich könnte jetzt noch einen alternativen Hoster testen, doch ich glaube nicht, dass das wirklich etwas ändert.
Wie kann ich helfen das Problem zu analysieren?

[2021-05-19 22:33] cliffparnitzky commented on #101
Ich hab ehrlich gesagt keine Ahnung. @Toflar hats du vlt. eine Idee, warum die Datei via Composer nicht korrekt im `templates` Ordner abgelegt wird?

[2021-05-20 17:15] mlwebworker commented on #101
Ich wollte gerade mal schauen, ob das in der LTS-Version funktioniert, aber da lässt sich die Demo gar nicht installieren. Für mich zwar kein Problem, aber ideal finde ich das auch nicht, falls mal jemand Contao mit der Demo und LTS-Version testen möchte.

[2021-05-20 19:59] cliffparnitzky commented on #101
@mlwebworker Für die 4.9 muss das 4.5 installiert werden. Hast du die probiert?

[2021-05-20 20:00] cliffparnitzky commented on #101
@contaoacademy Bist du auch bei Hostingwerk?

[2021-05-20 20:06] contaoacademy commented on #101
@cliffparnitzky Mein Test war bei All-Inkl. Ich könnte aber auch mit Hostingwerk testen.

[2021-05-20 20:43] cliffparnitzky commented on #101
@contaoacademy Ja, teste mal bitte. Kann nicht schaden.

[2021-05-21 07:53] fritzmg commented on #101
The Problem is here: https://github.com/contao/official-demo/blob/832cf7d25e19bb36decfede7557cb038bb6d7ccd/composer.json#L6-L8

The `contao-community-alliance/composer-plugin` is missing from the dependencies. That explains why it is still working in some installations. But it won't work in a completely clean Contao installation.

[2021-05-21 07:54] fritzmg commented on #101
Something has gone awry with this repository anyway. The new default branch is `main`, but the current `4.11.0` release tag is still based on `master`. `master` should probably be merged into `main` and then deleted.

[2021-05-21 08:37] mlwebworker commented on #101
@cliffparnitzky @contaoacademy
Mit Hostingwerk hatte ich getestet.

[2021-05-21 08:43] mlwebworker commented on #101
@cliffparnitzky Nein hatte bei der 4.9 nur ganz normal die Demo als Paket im Manager gesucht und versucht zu installieren, so wie das wahrscheinlich jeder normale Nutzer auch tun würde. Ich finde dabei sollte die Demo installierbar sein ohne irgendwelche "Umwege", die man gehen könnte. Wer Contao mit einer eigenen Installation testen möchte, sollte möglichst ohne irgendwelche Schwierigkeiten die n

[2021-05-21 12:35] cliffparnitzky commented on #101
@mlwebworker Das ist leider nicht möglich, weil die DB Strukturen zwischen 4.9 und 4.11 ja anders sind. Und dass Composer erstmal die neueste Version anbietet, ist ja leider Tatsache. Da kann man nicht viel machen. Aber um das visuell etwas hervorzuheben ist ja nun die Major und Minor Version der Demo im Gleichklang zum Contao Core.

[2021-05-21 22:47] mlwebworker commented on #101
Die 4.5 funktioniert mit Contao 4.9

[2021-05-25 12:22] contaoacademy commented on #101
Ich habe wie von @fritzmg vorgeschlagen jetzt mal in die composer.json die nötige Abhängigkeit eingetragen.
Jetzt hat alles funktioniert.
`"contao-community-alliance/composer-plugin": "^3.2"`

@cliffparnitzky
Kannst du das mal in der Demo als Abhängigkeit hinzufügen?

[2021-05-25 12:36] fritzmg commented on #101
The branches should be fixed first though.

[2021-05-27 23:55] cliffparnitzky commented on #101
@contaoacademy Probiere mal bitte mit der Version [4.11.1](https://github.com/contao/official-demo/releases/tag/4.11.1)

[2021-05-31 22:49] cliffparnitzky commented on #101
Dann machen wir das Ticket hier zu. Danke an alle Beteiligten.

[2021-05-31 22:49] #101 closed

[2021-06-25 07:20] ausi opened #102 "Importing the SQL file can result in endless redirects between HTTP and HTTPS"
See https://github.com/contao/contao/issues/3122#issuecomment-867944224

I think it would be a good idea to change the protocol to `https://` in the demo data (`tl_page.useSSL = 1`)

[2021-08-28 06:34] fkaminski opened #103 "Suggestion: Emphasize the demo character more in the frontend."
Since the demo is only meant to show the possibilities so that they can be studied,
it is based exclusively on a pure Contao installation.

Nevertheless, the demo is often compared with external themes.
Due to the orientation of the demo, this is not really useful and is often misunderstood.

It would possibly be much easier (maintenance and expectations) if:

- The frontend does not reflect a "no

[2021-08-28 07:02] fkaminski commented on #103
Perhaps then also with a link to the appropriate entry of the documentation ...

[2021-08-28 07:39] may17 commented on #103
This is some topic for version two and the people who like to work in it.

[2021-08-28 11:53] fkaminski commented on #103
Brainstorming regarding maintenance effort/implementation.
COD v2 requirements collection for further discussion.

**Version management (COD v2 and higher):**
Which Contao versions should be supported?
LTS and any above it? Or should only the current Contao version be supported at the start of v2. Possibly with notes from when a new feature was supported in Contao (similar to what we do in the doc

[2021-08-28 12:31] zonky2 commented on #103
I trry https://www.softaculous.com/demos/Contao ...

The start screen greets me as follows: https://easycaptures.com/fs/uploaded/1540/6718760410.png

This would certainly be better solved with the option.

[2021-08-28 12:40] fkaminski commented on #103
Possibly like this Mockup :-):
![COD-v2-mockup-sample](https://user-images.githubusercontent.com/7679799/131218158-f1e5ae19-3b80-4553-a229-797b75d3f789.png)

[2021-08-28 13:53] may17 commented on #103
As mentioned on the Contao projects issue for the COD, keep the current licence in mind. Just to let you know if you like to use any of the existing content in the future.

[2021-08-28 14:22] may17 opened #105 "The future of the cod"
Dear cod folks,

Seems like there are some people who will work on a cod v2 and i will stop investigating any work on the cod. Time to talk about the future of the project and involve everyone who's intrested.

**Organization**
I will stop any work on this project in 2022. This means we need a new project lead. How about you @sascha-mueller, would be still part of the cod team?

**Current Maintain

[2021-08-28 14:44] sascha-mueller commented on #105
@may17  As far as foreseeable I will stay in the project. In a future version I would see myself responsible for the SCSS again.

[2021-08-29 09:17] fkaminski commented on #105
I will follow the further development (v2) in the future. Should I then be able to contribute something (not as maintainer) I will try to do so with pleasure.

[2021-08-29 12:35] fkaminski commented on #105
First of all, I would like to thank Joe for his work so far.
As mentioned, there should be a leader here who can make final decisions.
Otherwise, one will surely hang unnecessarily on various issues.

Optimally, this person should be familiar with GitHub in terms of maintenance/merging, etc..
Would @cliffparnitzky continue to fill this role?

[2021-08-29 12:50] fkaminski commented on #105
Furthermore, the next step should be to first agree on basic questions regarding v2
and then respond accordingly.

I had tried, from my point of view, to put these up for discussion in #103.
This is primarily about:

- How to maintain most effectively (regarding Contao version/installation).
- This depends on: Fundamental task of COD
- Together then appropriate implementations (content/layout).

M

[2021-08-29 13:54] fkaminski commented on #103
As mentioned in #105
I don't know if it would be better to make separate issues for each of the future tasks?
In addition, therefore, allow me to make some comments here.

**I think the previous COD task should be kept.**
Will say: The Demo should only reflect the Demo Character. Then it doesn't have to compete with external "themes" (or to create the expectation to compete with them). Otherwise,

[2021-08-29 15:09] sascha-mueller commented on #103
We definitely need to define what the demo should be able to do.
I suspect there are more than enough people who have looked at the demo and compared it to another layout to decide if system A or B is a possibility.

For the supported versions, I see it the other way around. Important I find the LTS, nice the intermediate versions, which always exist only a few months.

I also don't find it an adv

[2021-08-30 08:45] fkaminski commented on #103
If you are willing to maintain two versions, they should correspond to the CM choice (LTS or Newest).

And if you offer the COD for installation via the CM, both these versions should work (see https://github.com/contao/official-demo/issues/101#issuecomment-845787143).

See for example the EUF Installation workflow/guide ...
https://erdmann-freunde.de/produkte/contao-themes/optimist/installation/

[2021-08-30 10:01] fkaminski commented on #103
But that's the point.
In my opinion, the demo was not intended to represent this
and should clearly limit this expectation once and for all.

The demo should rather be implemented and seen as a kind of function overview. In other words, possibly more as a live pendant to the documentation.

Otherwise: You can certainly provide a nice, trendy website as a basis. But this will always be subjectively

[2021-08-30 10:29] fkaminski commented on #103
My conclusion at the moment:

1)
You should consider not to show the demo on contao.org anymore (prevent theme comparisons).
For the presentation of the Contao possibilities itself there are already other links on contao.org:

- https://contao.org/de/fallstudien.html
- https://themes.contao.org/de/

2)
It should be ensured that the demo is installable via the CM for at least the LTS and latest Con

[2021-08-30 14:29] fkaminski opened #106 "Ensuring the CM installation"
Since the "demo" is listed as an extension, the installation should also work accordingly for both the LTS and current Contao releases (according to the CM selection to fresh installation).

Analogous to the working procedure of the free EUF theme:
https://erdmann-freunde.de/produkte/contao-themes/optimist/installation/

[2021-08-31 09:07] fkaminski commented on #105
@sascha-mueller Bist du über Slack erreichbar?

[2022-01-10 14:56] may17 commented on #105
Any news @fkaminski @sascha-mueller ?

[2022-01-14 10:00] sascha-mueller commented on #105
@may17
Cliff has not yet commented. Franko is out for now, because he is busy with other projects for Contao.
Franko and I decided to leave the content as it is and only change the layout.
Currently no one has been found for the creation of a design. Therefore it is a consideration to orientate on the current camp page.

[2022-01-14 16:40] fkaminski commented on #105
As discussed on Slack, I think a layout implementation based on the current camp layout is good, as long as no one else presents a different layout concept.

[2022-01-14 19:17] may17 commented on #105
You reconized that the camp page is based on a theme from Contao-Themes.net? So creating a copy of an existing theme is maybe not a good approach for an official demo?

[2022-01-14 20:13] sascha-mueller commented on #105
@may17 Yes, I know that it is a theme. It's also not about copying, but just a general inspiration.

Currently I'm also talking with my employer to see what he wants to contribute to the theme.

[2022-01-15 09:57] fkaminski commented on #105
As Sascha mentioned it was intended more as a layout inspiration in this regard.

[2022-01-15 11:02] may17 commented on #105
Ok thats up to you. As mentioned in the issue i will not bei longer responsible for the CoD. I started an internal discussion on the slack now to figure out how to move on cause there was no clear response who will take the project lead in future.

[2022-01-20 07:59] Tastaturberuf commented on #105
yesterday i was thinking about the demo when it came to test the 4.13. i think the demo is too complicated to install and maintain. i would like to test the possibilities of https://github.com/richardhj/contao-theme-framework and maybe we will find a new solution here. @richardhj can you see any chance we can use your framework for easier maintain the demo?

[2022-01-21 15:45] richardhj commented on #105
The charm of the Theme Framework is that it standardizes themes, in the sense of where you find the templates, CSS files, etc. pp., and that it comes with Encore that IMHO will be the new standard since it comes from the Symfony Ecosystem.

The framework is a CAN but not a MUST for the Contao demo.
To be honest, I would wait for any progress in contao/contao#2781 before making a decision. Also, to

[2022-01-21 16:23] fkaminski commented on #105
@richardhj :-)
But: First things first.
I would favor it if we first _internally_ agree on a layout (for the purpose of representative representation) that @sascha-mueller  could implement.
Subsequently, then accompanied by possible further deployment options...

[2022-01-21 18:11] may17 commented on #105
Could we please stay focused on the main concerns of this issue please ;)

[2022-01-21 18:34] sascha-mueller commented on #105
To finally move Joe's cause forward:
If no one wants, I will take over the further organization of the COD for the time being. However, help is welcome.
Cliff remains in the team and primarily takes care of the change from one version to the next.

[2022-01-21 21:33] may17 commented on #105
Nice to read about your decision @sascha-mueller :) @leofeyer could you please remove me from the official demo team and add @sascha-mueller instead? I also created a pull request to update the README.md.

[2022-02-07 17:52] #105 closed

[2022-02-10 17:00] aschempp opened #108 "News pages in the Contao demo currently are not accessible"
Hey 👋
I just want to add that the News pages in the Contao demo currently are not accessible (see footer navigation under https://demo.contao.org/en/).
Might be fixed by #3540?

_Originally posted by @richardhj in https://github.com/contao/contao/issues/3531#issuecomment-963008588_

[2022-02-10 17:01] #108 closed

[2022-07-12 17:29] berecont opened #109 "FAQ bringt Error"
FAQ > How FAQs work > Fragen
Beim Anlegen und/oder Ändern einer (neuen) Frage gibt's einen Internal Server Error: Invalid jump To page: 35

[2022-07-12 21:46] cliffparnitzky commented on #109
@leofeyer This is only a probleme in the system "https://demo.contao.org/" ... The last demo code is fine.

But maybe this is also an error (`tl_faq.php line 184`) which should be fixed. What is your suggestion what we should do?

[2022-07-13 07:26] fritzmg commented on #109
If this is reproducible in a vanilla Contao instance or even in the Contao Online Demo on https://demo.contao.org/, please report it as a bug then (@berecont or @cliffparnitzky).

[2022-07-14 08:20] berecont commented on #109
just testet ... in a vanilla contao installation it works.
in the online demo it don't work
Contao 4.13.6
php81
local installation with laragon

[2022-07-14 08:35] fritzmg commented on #109
How did you test? Are you sure you did not configure a redirect page in your FAQ archive?

[2022-07-14 08:54] fritzmg commented on #109
Yes, the issue is that the demo database references an invalid page ID in `tl_faq_category.jumpTo`. This needs to be fixed in the demo database, not in Contao.

[2022-07-14 09:34] cliffparnitzky commented on #109
It is reproducable in a vanilla contao installation:
- create a page
- define the new page as `jumpTo` for a FAQ category
- delete the new page
- enter the FAQ category and try to create a new entry

[2022-07-14 09:49] fritzmg commented on #109
@cliffparnitzky you can open an issue on `contao/contao` with that reproduction.

[2022-09-01 06:40] leofeyer commented on #109
I have fixed the demo now.

[2022-09-01 06:40] #109 closed